Repository codeit-bootcamp-frontend/1-Weekly-Mission, pull requests merged in 2023-09, with the labels that each got.

#1 [임건우] Week1
  images/facebook.svg
  images/folder_name.png
  images/folder_share.png
  images/instagram.svg
  images/link-1.png
  images/link-2.png
  images/link-3.png
  images/logo.svg
  images/main_screen.png
  images/save.svg
  images/search.png
  images/twitter.svg
  images/youtube.svg
  index.html
  styles.css
  variables.css
Labels: 매운맛🔥

#2 [김선혜] Week1
  faq.html
  index.html
  privacy.html
  public/icons/facebook.svg
  public/icons/instagram.svg
  public/icons/link.svg
  public/icons/logo.svg
  public/icons/twitter.svg
  public/icons/youtube.svg
  public/images/logo.svg
  public/images/main-img.png
  public/images/manage-img.png
  public/images/save-img-1.png
  public/images/save-img-2.png
  public/images/save-img-3.png
  public/images/search-img.png
  public/images/share-img.png
  reset.css
  signin.html
  signup.html
  style.css
Labels: 매운맛🔥

#11 [강현지] Week2
  common_style.css
  images/eye-off.svg
  images/eye-on.svg
  images/img_manage.png
  images/img_save.png
  images/img_search.png
  images/img_share.png
  images/img_title.png
  images/logo.svg
  images/snsIcon_f.svg
  images/snsIcon_g.svg
  images/snsIcon_i.svg
  images/snsIcon_k.svg
  images/snsIcon_t.svg
  images/snsIcon_y.svg
  index.html
  pages/faq/faq.html
  pages/landing/landing.html
  pages/landing/style.css
  pages/login/signin.html
  pages/login/signup.html
  pages/login/style.css
  pages/privacy/privacy.html
  reset.css
Labels: 매운맛🔥

#13 [전동훈] Week2
  assets/icon/facebook_icon.svg
  assets/icon/google_icon.svg
  assets/icon/instagram_icon.svg
  assets/icon/kakaotalk_icon.svg
  assets/icon/twitter_icon.svg
  assets/icon/youtube_icon.svg
  assets/images/eye_off_mark.svg
  assets/images/eye_on_mark.svg
  assets/images/main_img_1 .png
  assets/images/main_img_2.png
  assets/images/main_img_3.png
  assets/images/main_img_4.png
  assets/images/main_intro_img.png
  assets/logo/linkbrary_logo.svg
  assets/logo/linkbrary_logo_big.svg
  index.html
  pages/faq/faq.css
  pages/faq/faq.html
  pages/index/index.css
  pages/policy/policy.css
  pages/policy/policy.html
  pages/signin/signin.css
  pages/signin/signin.html
  pages/signup/signup.css
  pages/signup/signup.html
  readme.md
Labels: 매운맛🔥

#10 [임윤혁] Week2
  css/login.css
  css/reset.css
  css/style.css
  css/variables.css
  faq.html
  icon/down.svg
  icon/eye-off.svg
  icon/eye-on.svg
  icon/facebook.svg
  icon/google-background.svg
  icon/google.png
  icon/instagram.svg
  icon/kakao-background.svg
  icon/kakao.svg
  icon/login-logo.svg
  icon/logo.svg
  icon/twitter.svg
  icon/youtube.svg
  images/img1.png
  images/img2-1.png
  images/img2-2.png
  images/img2-3.png
  images/img3.png
  images/img4.png
  images/img5.png
  index.html
  privacy.html
  signin.html
  signup.html
Labels: 매운맛🔥

#29 [한슬희] Week1
  README.md
  faq.html
  index.html
  privacy.html
  signin.html
  signup.html
  src/assets/images/footer/facebook.svg
  src/assets/images/footer/instagram.svg
  src/assets/images/footer/twitter.svg
  src/assets/images/footer/youtube.svg
  src/assets/images/nav/logo.png
  src/assets/images/section/header.png
  src/assets/images/section/manage/modifyName.png
  src/assets/images/section/save/cards.png
  src/assets/images/section/search/search.png
  src/assets/images/section/share/socialShare.png
  src/style/footer.css
  src/style/header.css
  src/style/index.css
  src/style/reset.css
  src/style/section.css
Labels: 매운맛🔥

#30 [안희원] Week2
  main_page/Group 20.svg
  main_page/akar-icons_facebook-fill.svg
  main_page/akar-icons_twitter-fill.svg
  main_page/akar-icons_youtube-fill.svg
  main_page/ant-design_instagram-filled.svg
  main_page/card2.png
  main_page/index.html
  main_page/logo.svg
  main_page/style.css
  reset.css
  signin_page/eye-off.svg
  signin_page/google_bg.svg
  signin_page/index.html
  signin_page/kakaotalk.svg
  signin_page/kakaotalk_bg.svg
  signin_page/style.css
  signup_page/eye-on.svg
  signup_page/index.html
Labels: 매운맛🔥, 순한맛🐑 

#33 [손상희] week2
  .gitignore
  footer/faq/faq.html
  footer/privacy-policy/privacy-policy.html
  images/card-description.png
  images/card1.png
  images/card2.png
  images/card3.png
  images/design_instagram.svg
  images/group-icon.svg
  images/headline.png
  images/icons_facebook.svg
  images/icons_twitter.svg
  images/icons_youtube.svg
  images/image25.png
  images/logo.svg
  images/popup.png
  images/screenshoot1.png
  index.html
  reset.css
  sign/images/eye-off.svg
  sign/images/google-background.svg
  sign/images/google-icon.png
  sign/images/kakao-background.svg
  sign/images/kakao-icon.svg
  sign/sign-style.css
  sign/signin.html
  sign/signup.html
  style.css
Labels: 매운맛🔥

#36 [박경서] Week2
  .github/README.md
  .github/faq.html
  .github/img/Group 20.svg
  .github/img/card.png
  .github/img/card1.png
  .github/img/card2.png
  .github/img/eye-off.svg
  .github/img/eye-on.svg
  .github/img/facebook.svg
  .github/img/folder_name.png
  .github/img/folder_share.png
  .github/img/google.png
  .github/img/googleback.svg
  .github/img/image 25.png
  .github/img/insta.svg
  .github/img/kakao.svg
  .github/img/kakaoback.svg
  .github/img/linkbrary.svg
  .github/img/screenshot.png
  .github/img/twitter.svg
  .github/img/youtube.svg
  .github/index.html
  .github/privacy.html
  .github/signin.html
  .github/signup.html
  .github/style.css
Labels: 매운맛🔥

#22 [강나현]Week1&2
  images/Linkbrary.png
  images/_img.png.png
  images/_img1.png
  images/_img4.png
  images/eye-on.png
  images/google_icon.png
  images/img2.png
  images/img3.png
  images/kakao_icon.png
  images/logo.png
  index.html
  signin.css
  signin.html
  signup.css
  signup.html
  style.css
Labels: 매운맛🔥

#48 [한슬희] Week2
  README.md
  signin.html
  signup.html
  src/assets/images/google.png
  src/assets/images/kakao.png
  src/assets/images/logo.png
  src/style/auth.css
  src/style/header.css
  src/style/index.css
  src/style/variables.css
Labels: 매운맛🔥

#39 [송민혁] Week2
  assets/1_section.jpg
  assets/2_section.jpg
  assets/3_section.jpg
  assets/4_section.jpg
  assets/5_section.jpg
  assets/alt_image.png
  assets/icon/facebook_icons.svg
  assets/icon/google.png
  assets/icon/google.svg
  assets/icon/instagram_icon.svg
  assets/icon/kakao.svg
  assets/icon/twitter_icons.svg
  assets/icon/youtube_icons.svg
  assets/logo.png
  index.css
  index.html
  signin.css
  signin.html
  signup.css
  signup.html
Labels: 매운맛🔥

#35 [임건우] Week2
  css/main.css
  css/main.css.map
  index.html
  public/icons/eye-off.svg
  public/icons/eye-on.svg
  public/icons/facebook.svg
  public/icons/google.png
  public/icons/instagram.svg
  public/icons/kakotalk.svg
  public/icons/linkbrary.svg
  public/icons/save.svg
  public/icons/twitter.svg
  public/icons/youtube.svg
  public/images/folder-name.png
  public/images/folder-share.png
  public/images/link-1.png
  public/images/link-2.png
  public/images/link-3.png
  public/images/main-screen.png
  public/images/search.png
  scss/abstracts/_colors.scss
  scss/abstracts/_index.scss
  scss/abstracts/_mixins.scss
  scss/base/_base.scss
  scss/base/_index.scss
  scss/base/_reset.scss
  scss/components/_buttons.scss
  scss/components/_index.scss
  scss/layout/_container.scss
  scss/layout/_footer.scss
  scss/layout/_form.scss
  scss/layout/_header.scss
  scss/layout/_index.scss
  scss/main.scss
  scss/pages/_home.scss
  scss/pages/_index.scss
  scss/pages/_login.scss
  signin.html
  signup.html
  styles.css
  variables.css
Labels: 매운맛🔥

#37 [이동진] Week1&2
  faq.html
  index.html
  privacy.html
  public/icons/down.png
  public/icons/eye-off.png
  public/icons/eye-on.png
  public/icons/facebook.png
  public/icons/google_background.png
  public/icons/google_icon.png
  public/icons/instagram.png
  public/icons/kakao_background.png
  public/icons/kakao_icon.png
  public/icons/twitter.png
  public/icons/youtube.png
  public/images/Card2.png
  public/images/Linkbrary-logo.png
  reset.css
  signin.html
  signup.html
  style.css
Labels: 매운맛🔥

#52 [전수빈] Week2
  .DS_Store
  assets/.DS_Store
  assets/main/facebookIcon.svg
  assets/main/instagramIcon.svg
  assets/main/logo.png
  assets/main/section1Img.png
  assets/main/section2Img.png
  assets/main/section3Img.png
  assets/main/section4Img.png
  assets/main/topImg.png
  assets/main/twitterIcon.svg
  assets/main/youtubeIcon.svg
  assets/user/img_eyeOff.png
  assets/user/img_google.png
  assets/user/img_kakao.png
  css/common.css
  css/main.css
  css/user.css
  faq.html
  index.html
  login.html
  privacy.html
  signup.html
Labels: 매운맛🔥

#56 [한슬희] Week1
  README.md
  docs/week1/README.md
  docs/week2/README.md
  faq.html
  index.html
  privacy.html
  src/assets/images/facebook.svg
  src/assets/images/instagram.svg
  src/assets/images/nav/logo.png
  src/assets/images/section/header.png
  src/assets/images/section/manage.png
  src/assets/images/section/saveCards.png
  src/assets/images/section/search.png
  src/assets/images/section/socialShare.png
  src/assets/images/twitter.svg
  src/assets/images/youtube.svg
  src/style/footer.css
  src/style/reset.css
  src/style/section.css
Labels: bug

#59 [이규호] Week2
  assets/png/Linkbrary-logo.png
  assets/png/_img 1.png
  assets/png/_img4 1.png
  assets/png/eye-off.png
  assets/png/google.png
  assets/png/image 25.png
  assets/png/img 4.png
  assets/png/img3 1.png
  assets/png/kakao.png
  assets/png/logo.png
  assets/png/signin-page-logo.png
  assets/svg/akar-icons_facebook-fill.svg
  assets/svg/akar-icons_twitter-fill.svg
  assets/svg/akar-icons_youtube-fill.svg
  assets/svg/ant-design_instagram-filled.svg
  assets/svg/google.svg
  assets/svg/kakao.svg
  html/index.html
  html/signin.html
  html/signup.html
  styles/reset.css
  styles/signin.css
  styles/signup.css
  styles/style.css
Labels: 매운맛🔥

#60 [안지수] Week2
  assets/img/_dim.svg
  assets/img/add_link.svg
  assets/img/content2_title.svg
  assets/img/content3_title.svg
  assets/img/content4_title.svg
  assets/img/content5_title.svg
  assets/img/eye-off.svg
  assets/img/eye-on.svg
  assets/img/facebook.svg
  assets/img/google.svg
  assets/img/header_title.svg
  assets/img/img2.svg
  assets/img/img3.svg
  assets/img/img4.svg
  assets/img/img5.svg
  assets/img/img_header.svg
  assets/img/instagram.svg
  assets/img/kakao.svg
  assets/img/login.svg
  assets/img/logo.svg
  assets/img/twitter.svg
  assets/img/youtube.svg
  faq.html
  index.html
  privacy.html
  signin.html
  signup.html
  style/LoginStyle.css
  style/style.css
Labels: help wanted, 매운맛🔥, 순한맛🐑 

#31 [남민섭] Week2
  css/reset.css
  css/signin-style.css
  css/signup-style.css
  css/style.css
  img/png/Card 1.png
  img/png/Card-1.png
  img/png/Card.png
  img/png/Component 2.png
  img/png/Component 3.png
  img/png/Linkbrary.png
  img/png/Vector-1.png
  img/png/Vector-2.png
  img/png/Vector-3.png
  img/png/Vector-4.png
  img/png/Vector.png
  img/png/changing.png
  img/png/image 25.png
  img/png/image 28.png
  img/png/image27.png
  img/png/sharing.png
  img/svg/down.svg
  index.html
  signin.html
  signup.html
Labels: 매운맛🔥

#58 [김다은] week2
  .vscode/settings.json
  assets/components/eye-off.svg
  assets/icons/icons_facebook.svg
  assets/icons/icons_google_for_login.png
  assets/icons/icons_instagram.svg
  assets/icons/icons_kakaotalk_for_login.png
  assets/icons/icons_twitter.svg
  assets/icons/icons_youtube.svg
  assets/images/contents_img_bookmark.png
  assets/images/contents_img_folder.png
  assets/images/contents_img_search.png
  assets/images/contents_img_share.png
  assets/images/index_preview_img.png
  assets/logo/logo.svg
  faq.html
  index.html
  pages/all.css
  pages/faq.css
  pages/index.css
  pages/privacy.css
  pages/signin.css
  pages/signup.css
  privacy.html
  signin.html
  signup.html
Labels: 매운맛🔥

#54 [신혜윤] Week2
  Linkbrary.html
  faq.html
  images/facebook.svg
  images/hero.png
  images/image1.png
  images/image2.png
  images/image3.png
  images/image4.png
  images/instagram.svg
  images/logo.svg
  images/signin/Component 2.png
  images/signin/Component 3.png
  images/twitter.svg
  images/youtube.svg
  index.css
  privacy.html
  signin.html
  signup.html
Labels: 미완성

#63 [안혜정]Week2
  2주차/create-account/index.html
  2주차/create-account/reset.css
  2주차/create-account/style.css
  2주차/images/Ellipse 29.svg
  2주차/images/eye-off.png
  2주차/images/google.png
  2주차/images/kakao.png
  2주차/images/logo.png
  2주차/images/logo.svg
  2주차/login/index.html
  2주차/login/reset.css
  2주차/login/style.css
Labels: 매운맛🔥

#28 [김나은] Week2
  1-Weekly-Mission/.github/delete-merged-branch-config.yml
  1-Weekly-Mission/.github/pull_request_template.md
  1-Weekly-Mission/faq.html
  1-Weekly-Mission/image/eye-off.svg
  1-Weekly-Mission/image/facebook.svg
  1-Weekly-Mission/image/google.png
  1-Weekly-Mission/image/hero.png
  1-Weekly-Mission/image/image1.png
  1-Weekly-Mission/image/image2.png
  1-Weekly-Mission/image/image3.png
  1-Weekly-Mission/image/image4.png
  1-Weekly-Mission/image/instagram.svg
  1-Weekly-Mission/image/kakao_talk.png
  1-Weekly-Mission/image/logo.svg
  1-Weekly-Mission/image/twitter.svg
  1-Weekly-Mission/image/youtube.svg
  1-Weekly-Mission/index.html
  1-Weekly-Mission/privacy.html
  1-Weekly-Mission/signin/index.html
  1-Weekly-Mission/signin/style.css
  1-Weekly-Mission/signup/index.html
  1-Weekly-Mission/signup/style.css
  1-Weekly-Mission/style.css
Labels: 매운맛🔥

#57 [박종민] week2
  .gitignore
  faq.html
  images/eye-off.png
  images/facebook.svg
  images/google.png
  images/hero.png
  images/image1.png
  images/image2.png
  images/image3.png
  images/image4.png
  images/instagram.svg
  images/kakao.png
  images/logo.svg
  images/twitter.svg
  images/youtube.svg
  index.html
  privacy.html
  signin.html
  signup.html
  src/global.css
  src/member.css
  src/reset.css
  src/style.css
Labels: 매운맛🔥

#53 [홍재원] Week2
  faq.html
  images/Card 1.png
  images/Card-1.png
  images/Card.png
  images/Group 20.svg
  images/akar-icons_facebook-fill.svg
  images/akar-icons_twitter-fill.svg
  images/akar-icons_youtube-fill.svg
  images/ant-design_instagram-filled.svg
  images/eye_slashed.svg
  images/google.svg
  images/image25.png
  images/kakao.svg
  images/logo.svg
  images/pop.png
  images/screenshot.png
  images/share-pop.png
  images/total.png
  index.html
  privacy.html
  signin.html
  signup.html
  style_main.css
  style_sign.css
Labels: 매운맛🔥

#32 [조유담] week2
  .DS_Store
  faq.html
  images/.DS_Store
  images/landing/.DS_Store
  images/landing/facebook.png
  images/landing/img1.png
  images/landing/img2.png
  images/landing/img3.png
  images/landing/img4.png
  images/landing/img5.png
  images/landing/img6.png
  images/landing/img7.png
  images/landing/instagram.png
  images/landing/logo.png
  images/landing/twitter.png
  images/landing/youtube.png
  images/signin/.DS_Store
  images/signin/eye-off.svg
  images/signin/google.png
  images/signin/kakaotalk.png
  images/signin/logo.svg
  index.html
  privacy.html
  signin.html
  signup.html
  style/landing.css
  style/reset.css
  style/signin.css
Labels: 매운맛🔥

#20 [김윤후] Week2
  .gitignore
  faq.html
  images/eye-off.png
  images/eye-off1.png
  images/facebook.svg
  images/google.png
  images/hero.png
  images/image1.png
  images/image2.png
  images/image3.png
  images/image4.png
  images/instagram.svg
  images/kakao.png
  images/logo.svg
  images/twitter.svg
  images/youtube.svg
  index.html
  privacy.html
  signin.html
  signup.html
  src/reset.css
  src/signin.css
  src/signup.css
  src/style.css
Labels: 매운맛🔥

#40 Part1 고민혁 week2
  .vscode/settings.json
  1-weekly-mission-week1-고민혁/.gitignore
  1-weekly-mission-week1-고민혁/faq.html
  1-weekly-mission-week1-고민혁/images/facebook.svg
  1-weekly-mission-week1-고민혁/images/hero.png
  1-weekly-mission-week1-고민혁/images/image1.png
  1-weekly-mission-week1-고민혁/images/image2.png
  1-weekly-mission-week1-고민혁/images/image3.png
  1-weekly-mission-week1-고민혁/images/image4.png
  1-weekly-mission-week1-고민혁/images/instagram.svg
  1-weekly-mission-week1-고민혁/images/logo.svg
  1-weekly-mission-week1-고민혁/images/twitter.svg
  1-weekly-mission-week1-고민혁/images/youtube.svg
  1-weekly-mission-week1-고민혁/index.html
  1-weekly-mission-week1-고민혁/privacy.html
  1-weekly-mission-week1-고민혁/signin.html
  1-weekly-mission-week1-고민혁/signup.html
  1-weekly-mission-week1-고민혁/src/reset.css
  1-weekly-mission-week1-고민혁/src/style.css
  signin/eye-off.svg
  signin/google.svg
  signin/index.html
  signin/kakao.svg
  signin/logo.svg
  signin/reset.css
  signin/style.css
  signup/eye-off.svg
  signup/google.svg
  signup/index.html
  signup/kakao.svg
  signup/logo.svg
  signup/reset.css
  signup/style.css
Labels: 매운맛🔥, 순한맛🐑 

#45 [안윤진] Week2
  .DS_Store
  .github/delete-merged-branch-config.yml
  .github/pull_request_template.md
  faq.html
  images/eye-off.svg
  images/eye-on.svg
  images/facebook.svg
  images/google.svg
  images/hero.png
  images/image-manage.png
  images/image-save.png
  images/image-search.png
  images/image-share.png
  images/instagram.svg
  images/kakao.svg
  images/logo.svg
  images/twitter.svg
  images/youtube.svg
  landing.html
  privacy.html
  signin.html
  signup.html
  src/reset.css
  src/signin.css
  src/signup.css
  src/style.css
Labels: 매운맛🔥

#46 [김소은] Week 2
  css/common.css
  css/signin.css
  css/signup.css
  css/style.css
  html/faq.html
  html/index.html
  html/privacy.html
  html/signin.html
  html/signup.html
  images/banner-img.png
  images/content1.png
  images/content2.png
  images/content3.png
  images/content4.png
  images/eye-off.svg
  images/icon-google.png
  images/icon_facebook.svg
  images/icon_instagram.svg
  images/icon_kakao.png
  images/icon_twitter.svg
  images/icon_youtube.svg
  images/logo.svg
Labels: 매운맛🔥

#65 [임석준] Week2
  faq.html
  image/eye-off.svg
  image/facebook.svg
  image/google.svg
  image/googleic.png
  image/image1.png
  image/image2.png
  image/image25.png
  image/image3.png
  image/image4.png
  image/instagram.svg
  image/kakaotalk.svg
  image/kakaotalkic.svg
  image/logo.svg
  image/twitter.svg
  image/youtube.svg
  index.css
  index.html
  privacy.html
  signin.css
  signin.html
  signup.html
Labels: 미완성

#15 [이승연] week2
  .gitignore
  common.css
  images/card1.png
  images/card2.png
  images/card3.png
  images/codeit_search_image.png
  images/icon/Group 20.svg
  images/icon/akar-icons_facebook-fill.svg
  images/icon/akar-icons_twitter-fill.svg
  images/icon/akar-icons_youtube-fill.svg
  images/icon/ant-design_instagram-filled.svg
  images/icon/eye-off.svg
  images/icon/google-icon-bg.svg
  images/icon/google-icon.png
  images/icon/kakao-icon-bg.svg
  images/icon/kakao-icon.svg
  images/icon/logo.svg
  images/main_image.png
  images/popup_folder_name_change.png
  images/popup_folder_share.png
  index.html
  reset.css
  signin.html
  signup.html
  singin&up.css
  style.css
Labels: 매운맛🔥

#50 [박세은] week 2
  .github/delete-merged-branch-config.yml
  .github/pull_request_template.md
  README.md
  faq.html
  image/content1.png
  image/content2.png
  image/content3.png
  image/content4.png
  image/eye-off.svg
  image/eye-on.svg
  image/facebookIcon.svg
  image/google.png
  image/instagramIcon.svg
  image/kakao.png
  image/kakao.svg
  image/logo.svg
  image/site.png
  image/twitterIcon.svg
  image/youtubeIcon.svg
  index.html
  privacy.html
  signin.html
  signup.html
  style/index.css
  style/reset.css
  style/signin.css
Labels: 매운맛🔥

#23 Part1 양진수 week2
  .github/delete-merged-branch-config.yml
  .github/pull_request_template.md
  common.css
  images/Card1.png
  images/Card2.png
  images/Card3.png
  images/icon/Cardicon.png
  images/icon/akar-icons_facebook-fill.png
  images/icon/akar-icons_twitter-fill.png
  images/icon/akar-icons_youtube-fill.png
  images/icon/ant-design_instagram-filled.png
  images/icon/logo.png
  images/icon/signin-eye-off.png
  images/icon/signin-google-bg.png
  images/icon/signin-google.png
  images/icon/signin-kakao.bg.png
  images/icon/signin-kakao.png
  images/icon/signin-logo.png
  images/middel3_popup.png
  images/middle1.png
  images/middle2.png
  images/middle3.png
  images/middle4.png
  index.html
  siginup.html
  sign.css
  signin.html
  style.css
Labels: 매운맛🔥

#21 [박소현] Week2
  Linkbrary/css/reset.css
  Linkbrary/css/sign_form.css
  Linkbrary/css/style.css
  Linkbrary/images/contact/akar-icons_facebook-fill.svg
  Linkbrary/images/contact/akar-icons_twitter-fill.svg
  Linkbrary/images/contact/akar-icons_youtube-fill.svg
  Linkbrary/images/contact/ant-design_instagram-filled.svg
  Linkbrary/images/content_1.svg
  Linkbrary/images/content_2.svg
  Linkbrary/images/content_3.svg
  Linkbrary/images/content_4.svg
  Linkbrary/images/eye-off.svg
  Linkbrary/images/eye-on.svg
  Linkbrary/images/hero.svg
  Linkbrary/images/logo.svg
  Linkbrary/images/sns/google-icon.svg
  Linkbrary/images/sns/kakao-icon.svg
  Linkbrary/index.html
  Linkbrary/signin.html
  Linkbrary/signup.html
Labels: 매운맛🔥

#38 [민서영] Week2
  .gitignore
  assets/css/global_style.css
  assets/css/reset.css
  assets/css/sign_form.css
  assets/css/styles.css
  assets/img/eyeOff.svg
  assets/img/eyeOn.svg
  assets/img/facebookWhite.svg
  assets/img/googleCircle.svg
  assets/img/heroImg.png
  assets/img/instagramWhite.svg
  assets/img/kakaotalkCircle.svg
  assets/img/linkFolder.png
  assets/img/linkSave.png
  assets/img/linkSearch.png
  assets/img/linkShare.png
  assets/img/logo.svg
  assets/img/twitterWhite.svg
  assets/img/youtubeWhite.svg
  index.html
  signin.html
  signup.html
Labels: 매운맛🔥

#8 [이정윤] week2
  index.html
  signin/index.html
  signup/index.html
  src/css/reset.css
  src/css/sign-page.css
  src/css/style.css
  src/images/content-1-1.png
  src/images/content-1-2-1.svg
  src/images/content-1-2.png
  src/images/content-1-3.png
  src/images/content-2.png
  src/images/content-3.png
  src/images/content-4.png
  src/images/eye-off.svg
  src/images/facebook.svg
  src/images/google.svg
  src/images/hero.png
  src/images/instagram.svg
  src/images/kakaotalk.svg
  src/images/logo.svg
  src/images/signin-logo.svg
  src/images/twitter.svg
  src/images/youtube.svg
Labels: 매운맛🔥

#66 [이태희] Week2
  .vscode/settings.json
  README.md
  faq.html
  img/Card-1.png
  img/Card-2.png
  img/Card-3.png
  img/akar-icons_facebook-fill.svg
  img/akar-icons_twitter-fill.svg
  img/akar-icons_youtube-fill.svg
  img/ant-design_instagram-filled.svg
  img/eye-off.svg
  img/eye-on.svg
  img/google.png
  img/hero.png
  img/image-25.png
  img/image1.png
  img/image2.png
  img/image3.png
  img/image4.png
  img/kakao.svg
  img/logo.svg
  img/popup.png
  img/sect5.png
  img/폴더 공유하기 팝업 1.png
  index.html
  privacy.html
  signin.html
  signup.html
  src/index.css
  src/reset.css
  src/sign.css
Labels: 매운맛🔥

#16 [김진우] Week2
  .gitignore
  assets/common/eye-off.svg
  assets/common/google.png
  assets/common/kakaoicon.svg
  assets/common/logo.svg
  assets/landing/card1.png
  assets/landing/card2.png
  assets/landing/card3.png
  assets/landing/changeFolderName.png
  assets/landing/content1Img.png
  assets/landing/content5Img.png
  assets/landing/downloadBtn.svg
  assets/landing/facebookIcon.svg
  assets/landing/instagramIcon.svg
  assets/landing/landingHeaderImg.png
  assets/landing/popup.png
  assets/landing/twitterIcon.svg
  assets/landing/youtubeIcon.svg
  index.html
  signin/index.html
  signin/signin.css
  signup/index.html
  signup/signup.css
  style.css
  style/global.css
Labels: 매운맛🔥

#51 [남궁수영] Week2
  README.md
  index.html
  src/assets/css/global.css
  src/assets/css/index.css
  src/assets/css/reset.css
  src/assets/img/FacebookBg.png
  src/assets/img/GoogleBg.png
  src/assets/img/c2_card.png
  src/assets/img/c3_card.png
  src/assets/img/c4_card.png
  src/assets/img/c5_card.png
  src/assets/img/close_eyes.png
  src/assets/img/content_1.png
  src/assets/img/facebook.png
  src/assets/img/google.png
  src/assets/img/instargram.png
  src/assets/img/kakao.png
  src/assets/img/logo.png
  src/assets/img/logo.svg
  src/assets/img/open_eyes.png
  src/assets/img/twiter.png
  src/assets/img/youtube.png
  src/pages/account/account.css
  src/pages/account/signin/index.html
  src/pages/account/signup/index.html
Labels: 매운맛🔥

#26 [이슬]week2
  assets/card1.png
  assets/card2.png
  assets/card3.png
  assets/eye-off.svg
  assets/eye-on.svg
  assets/facebook.svg
  assets/google-background.svg
  assets/google.png
  assets/img.png
  assets/img2.png
  assets/img5.png
  assets/img6.png
  assets/img7.png
  assets/instagram.svg
  assets/kakao-background.svg
  assets/kakao.svg
  assets/logo.svg
  assets/twitter.svg
  assets/youtube.svg
  faq/index.html
  global.css
  index.html
  privacy/index.html
  sign.css
  signin/index.html
  signup/index.html
  style.css
Labels: 매운맛🔥

#14 [손지은] week2
  .DS_Store
  css/index.css
  css/normalize.css
  css/signin.css
  css/signup.css
  html/faq.html
  html/privacy.html
  html/signin.html
  html/signup.html
  img/.DS_Store
  img/eye-off.svg
  img/eye-on.svg
  img/googleicon.png
  img/img1.png
  img/img2.png
  img/img25.png
  img/img3.png
  img/img4.png
  img/kakaoicon.png
  img/logo.png
  index.html
  script/index.js
Labels: 매운맛🔥

#49 [윤대호] Week2
  .github/테스트.txt
  .gitignore
  common.css
  images/eye-off.svg
  images/facebook.svg
  images/google-login-icon.png
  images/hero.png
  images/image-for-meta-tag-test.jpg
  images/image1.png
  images/image2.png
  images/image3.png
  images/image4.png
  images/instagram.svg
  images/kakao-login-icon.png
  images/logo.svg
  images/twitter.svg
  images/youtube.svg
  index.html
  normalize.css
  style.css
  support/faq.html
  support/privacy.html
  user/auth.css
  user/signin.html
  user/signup.html
Labels: 매운맛🔥

#55 [조연아] week2
  README.md
  css/common.css
  css/signin.css
  css/signup.css
  images/index/footer/facebook.svg
  images/index/footer/instagram.svg
  images/index/footer/twitter.svg
  images/index/footer/youtube.svg
  images/index/logo.svg
  images/index/section1/image1.png
  images/index/section2/image1.png
  images/index/section3/image1.png
  images/index/section4/image1.png
  images/index/section5/image1.png
  images/sign/eye-on.svg
  images/sign/google.png
  images/sign/kakao.png
  images/sign/logo.svg
  images/sign/social-logins.png
  index.css
  index.html
  nomalize.css
  pages/faq.html
  pages/privacy.html
  pages/signin.html
  pages/signup.html
Labels: 매운맛🔥

#68 [한승주] week2
  faq.html
  images/facebook.svg
  images/hero.png
  images/image1.png
  images/image2.png
  images/image3.png
  images/image4.png
  images/instagram.svg
  images/logo.svg
  images/twitter.svg
  images/youtube.svg
  index.html
  privacy.html
  signin.html
  signup.html
  src/reset.css
  src/signin.css
  src/style.css
Labels: 매운맛🔥

#81 [안희원] Week3
  assets/images/Group 20.svg
  assets/images/akar-icons_facebook-fill.svg
  assets/images/akar-icons_twitter-fill.svg
  assets/images/akar-icons_youtube-fill.svg
  assets/images/ant-design_instagram-filled.svg
  assets/images/card1.png
  assets/images/card2.png
  assets/images/card3.png
  assets/images/eye-off.svg
  assets/images/eye-on.svg
  assets/images/folder.png
  assets/images/google_bg.svg
  assets/images/kakaotalk.svg
  assets/images/kakaotalk_bg.svg
  assets/images/logo.svg
  assets/images/main.png
  assets/images/screenshot.png
  assets/images/폴더 공유하기 팝업 1.png
  assets/reset.css
  index.html
  main_page/card2.png
  main_page/index.html
  main_page/mobile.css
  main_page/style.css
  main_page/tablet.css
  signin_page/index.html
  signin_page/style.css
  signup_page/index.html
Labels: 매운맛🔥, 순한맛🐑 

#90 [강나현] Week3
  1-Weekly-Mission_강나현.Zip
  images/library.jpg
  index.html
  reset.css
  signin.html
  signin_signup.css
  signup.html
  style.css
Labels: 매운맛🔥

#96 [김하늘] Week3
  assets/_img.png
  assets/_img.svg
  assets/_img1.svg
  assets/_img2.svg
  assets/_img3.svg
  assets/_img4.svg
  assets/sectionfifth-img.png
  assets/sectionfirst-img.png
  assets/sectionforth-share.png
  assets/sectionsecond-card (1).png
  assets/sectionsecond-card (2).png
  assets/sectionsecond-card (3).png
  assets/sectionthird-edit.png
  assets/sign-eye-on.svg
  assets/site-image.jfif
  css/index.css
  css/landing.css
  css/reset.css
  css/sign.css
  index.html
  js/sign.js
  signin.html
  signup.html
Labels: 순한맛🐑 

#98 [한슬희] Week3
  .github/CODEOWNERS
  README.md
  docs/week1/README.md
  docs/week3/README.md
  index.html
  src/assets/images/section/search.png
  src/style/auth.css
  src/style/footer.css
  src/style/header.css
  src/style/index.css
  src/style/reset.css
  src/style/section.css
Labels: 매운맛🔥

#105 [박경서] week3
  src/README.md
  src/delete-merged-branch-config.yml
  src/faq.html
  src/img/Group 20.svg
  src/img/alpaca.png
  src/img/card.png
  src/img/card1.png
  src/img/card2.png
  src/img/eye-off.svg
  src/img/eye-on.svg
  src/img/facebook.svg
  src/img/folder_name.png
  src/img/folder_share.png
  src/img/google.png
  src/img/googleback.svg
  src/img/image 25.png
  src/img/insta.svg
  src/img/kakao.svg
  src/img/kakaoback.svg
  src/img/linkbrary.svg
  src/img/new_google.svg
  src/img/new_kakao.svg
  src/img/screenshot.png
  src/img/twitter.svg
  src/img/youtube.svg
  src/index.html
  src/privacy.html
  src/pull_request_template.md
  src/signin.html
  src/signup.html
  src/style.css
Labels: 매운맛🔥

#115 [신혜윤] week3
  images/IMG_7248.jpg
  index.html
  signin.html
  styles/index.css
  styles/signin.css
Labels: 순한맛🐑 

#71 [정진호] week3
  asset/styles/component.css
  asset/styles/index.css
  asset/styles/sign.css
  index.html
  signin.html
  signup.html
Labels: 매운맛🔥

#43 [김기연] week2
  assets/Group 36.svg
  assets/Search.svg
  assets/icon-add.svg
  assets/icon-background-google.svg
  assets/icon-background-kakao.svg
  assets/icon-background-myprofile.svg
  assets/icon-download.svg
  assets/icon-facebook.svg
  assets/icon-instagram.svg
  assets/icon-kakao.svg
  assets/icon-myprofile.svg
  assets/icon-star.svg
  assets/icon-twitter.svg
  assets/icon-white-smile.svg
  assets/icon-youtube.svg
  assets/kebab.svg
  assets/landing/_img1.png
  assets/landing/_img4.png
  assets/landing/img2.png
  assets/landing/img3.png
  assets/link.svg
  assets/logo.svg
  assets/pen.svg
  assets/share.svg
  index.css
  index.html
  signin.css
  signin.html
  signup.css
  signup.html
Labels: 매운맛🔥

#82 [전동훈] week3 11팀
  common.css
  index.html
  pages/faq/faq.css
  pages/faq/faq.html
  pages/index/index.css
  pages/policy/policy.css
  pages/policy/policy.html
  pages/sign/signcommon.css
  pages/sign/signin.html
  pages/sign/signup.html
  pages/signup/signup.css
  readme.md
Labels: 매운맛🔥

#97 [강현지] Week3 11팀
  common_style.css
  images/description.png
  index.html
  pages/landing/landing.html
  pages/landing/style.css
  pages/login/style.css
Labels: 매운맛🔥

#79 [임윤혁] Week3
  css/reset.css
  css/signin.css
  css/style.css
  css/variables.css
  icon/google-background.svg
  icon/google.png
  icon/kakao-background.svg
  icon/kakao.svg
  icon/login-logo.svg
  images/google.png
  images/img1.png
  images/img2-1.png
  images/img2-2.png
  images/img2-3.png
  images/img3.png
  images/img4.png
  images/img5.png
  images/intro.png
  images/kakako.png
  images/linkfolder.png
  images/linkshare.png
  images/serachimg.png
  images/social_profile.png
  images/wantlink.png
  index.html
  pages/faq.html
  pages/privacy.html
  pages/signin.html
  pages/signup.html
  signin.html
  signup.html
Labels: 매운맛🔥

#78 [김선혜] Week3
  index.html
  pages/faq.html
  pages/privacy.html
  pages/signin.html
  pages/signup.html
  signin.html
  signup.html
  styles/auth.css
  styles/index.css
Labels: 매운맛🔥

#88 [임건우] Week3
  css/main.css
  css/main.css.map
  index.html
  pages/signin.html
  pages/signup.html
  public/icons/save.svg
  public/images/folder-name.png
  public/images/folder-share.png
  public/images/link-1.png
  public/images/link-2.png
  public/images/link-3.png
  public/images/link-examples.png
  public/images/link-folder.png
  public/images/link-search.png
  public/images/linkbrary-meta-img.png
  public/images/search.png
  scss/abstracts/_mixins.scss
  scss/base/_base.scss
  scss/base/_fonts.scss
  scss/base/_index.scss
  scss/base/_reset.scss
  scss/components/_buttons.scss
  scss/layout/_container.scss
  scss/layout/_footer.scss
  scss/layout/_form.scss
  scss/layout/_header.scss
  scss/layout/_index.scss
  scss/main.scss
  scss/pages/_auth.scss
  scss/pages/_home.scss
  scss/pages/_index.scss
  scss/utils/_colors.scss
  scss/utils/_index.scss
  scss/utils/_mixins.scss
  scss/utils/_variables.scss
  signin.html
Labels: 매운맛🔥

#92 [이동진] Week3
  index.html
  pages/faq.html
  pages/privacy.html
  pages/signin.html
  pages/signup.html
  public/icons/download.png
  public/images/Card2.png
  public/images/banner-image.png
  public/images/image1.png
  public/images/image2.png
  public/images/image3.png
  public/images/image4.png
  public/images/racoon.jpg
  signin.html
  signup.html
  style.css
  styles/reset.css
  styles/sign_style.css
  styles/style.css
Labels: 매운맛🔥

#69 [안혜정] Week 1
  1주차/icons/Group 20.svg
  1주차/icons/facebook.svg
  1주차/icons/icon.svg
  1주차/icons/instagram.svg
  1주차/icons/twitter.svg
  1주차/icons/youtube.svg
  1주차/images/bed.png
  1주차/images/do_share.png
  1주차/images/dog.png
  1주차/images/gradiant.png
  1주차/images/image 25.png
  1주차/images/logo.png
  1주차/images/name_change.png
  1주차/images/page_2.png
  1주차/images/screenshot.png
  1주차/intro_png/스크린샷 2023-09-19 오후 11.40.14.png
  1주차/intro_png/스크린샷 2023-09-19 오후 11.40.36.png
  1주차/intro_png/스크린샷 2023-09-19 오후 11.41.37.png
  1주차/intro_png/스크린샷 2023-09-19 오후 11.41.57.png
  1주차/pages/index.html
  1주차/style/reset.css
  1주차/style/style.css
  2주차/.vscode/settings.json
  2주차/create-account/index.html
  2주차/create-account/reset.css
  2주차/images/Ellipse 29.svg
  2주차/images/c3a9be9cb365010056fa7aa9cc9f05a2.png
  2주차/images/eye-off.svg
  2주차/login/index.html
  2주차/login/reset.css
  2주차/login/style.css
  2주차/signin/pages/index.html
  2주차/signup/pages/index.html
  2주차/style/reset.css
  2주차/style/style.css
Labels: 매운맛🔥, 미완성

#106 [손상희] week3 11팀
  images/card-description.png
  images/card1.png
  images/card2.png
  images/card3.png
  images/contents01.png
  images/contents02.png
  images/contents03.png
  images/contents04.png
  images/group-icon.svg
  images/headline.png
  index.html
  pages/faq/faq.html
  pages/privacy-policy/privacy-policy.html
  pages/sign/images/eye-off.svg
  pages/sign/images/google-background.svg
  pages/sign/images/google-icon.png
  pages/sign/images/kakao-background.svg
  pages/sign/images/kakao-icon.svg
  pages/sign/sign-style.css
  pages/sign/signin.html
  pages/sign/signup.html
  style.css
Labels: 매운맛🔥

#119 [전수빈] Week3 11팀
  assets/common/img_meta.jpg
  css/main.css
  css/user.css
  index.html
  login.html
Labels: 매운맛🔥

#112 [김다은] week3
  .vscode/settings.json
  README.md
  assets/icons/icons_google_for_login.svg
  assets/icons/icons_kakaotalk_for_login.svg
  assets/images/preview_img__for_sharing.jpg
  faq.html
  index.html
  pages/globalStyles.css
  pages/index.css
  pages/signin.css
  pages/signup.css
  privacy.html
  signin.html
  signup.html
Labels: 매운맛🔥

#80 [이정윤] week3
  index.html
  signin/index.html
  signup/index.html
  src/css/colors.css
  src/css/common.css
  src/css/landing.css
  src/css/reset.css
  src/css/sign-page.css
  src/css/style.css
  src/images/content-1.png
  src/images/content-2.png
  src/images/content-3.png
  src/images/content-4.png
  src/images/hero.png
Labels: 매운맛🔥

#104 [민서영] Week3
  assets/css/sign_form.css
  assets/css/styles.css
  assets/img/bostonPublicLibrary.webp
  assets/img/heroImg.png
  index.html
  signin.html
  signup.html
Labels: 매운맛🔥

#84 [박소현] Week3
  Linkbrary/css/sign_form.css
  Linkbrary/css/style.css
  Linkbrary/images/og.webp
  Linkbrary/index.html
Labels: 매운맛🔥

#83 [김나은] Week3
  1-Weekly-Mission/image/google.png
  1-Weekly-Mission/image/google.svg
  1-Weekly-Mission/image/kakao_talk.png
  1-Weekly-Mission/image/kakao_talk.svg
  1-Weekly-Mission/index.html
  1-Weekly-Mission/privacy.html
  1-Weekly-Mission/signin.html
  1-Weekly-Mission/signin/index.html
  1-Weekly-Mission/signin/style.css
  1-Weekly-Mission/signup.html
  1-Weekly-Mission/signup/index.html
  1-Weekly-Mission/signup/style.css
  1-Weekly-Mission/src/colors.css
  1-Weekly-Mission/src/common.css
  1-Weekly-Mission/src/index.css
  1-Weekly-Mission/src/reset.css
  1-Weekly-Mission/src/sign.css
  1-Weekly-Mission/style.css
Labels: 매운맛🔥

#94 [송규경] Week3
  assets/og-library.jpeg
  common.css
  index.html
  reset.css
  signin/assets/signin/eye-off.svg
  signin/assets/signin/google-logo.png
  signin/assets/signin/kakao-logo.png
  signin/assets/signin/logo.svg
  signin/index.html
  signin/style.css
  signup/index.html
  signup/style.css
  style.css
Labels: 매운맛🔥

#87 [week3] 홍재원
  .gitignore
  images/Card 1.png
  images/Card-1.png
  images/Card.png
  images/image1.png
  images/image2.png
  images/image3.png
  images/image4.png
  images/pop.png
  images/preview.png
  images/screenshot.png
  images/share-pop.png
  index.html
  package-lock.json
  reset.css
  signin.html
  signup.html
  style_main.css
  style_sign.css
Labels: 매운맛🔥

#99 [박종민] Week3
  faq.html
  images/cat.png
  index.html
  privacy.html
  signin.html
  signup.html
  src/member.css
  src/style.css
Labels: 매운맛🔥

#132 [안유진] Week1
  asset/fonts/Pretendard-Regular.woff2
  asset/images/facebook.svg
  asset/images/hero.png
  asset/images/image1.png
  asset/images/image2.png
  asset/images/image3.png
  asset/images/image4.png
  asset/images/instagram.svg
  asset/images/logo.svg
  asset/images/twitter.svg
  asset/images/youtube.svg
  faq.html
  index.html
  privacy.html
  signin.html
  signup.html
  styles/reset.css
  styles/style.css
Labels: 매운맛🔥

#89 [주소희] week3
  faq.html
  img/akar-icons_facebook-fill.svg
  img/akar-icons_twitter-fill.svg
  img/akar-icons_youtube-fill.svg
  img/ant-design_instagram-filled.svg
  img/capture-linkbrary.png
  img/capture-manage.png
  img/capture-save.png
  img/capture-search.png
  img/capture-share.png
  img/eye-off.svg
  img/google.svg
  img/kakao.svg
  img/logo.png
  index.html
  privacy.html
  signin.html
  signup.html
  src/common/variable.css
  src/index.css
  src/reset.css
  src/signin_signup.css
Labels: 매운맛🔥

#95 [고민혁] week3
  1-weekly-mission-week1-고민혁/index.html
  1-weekly-mission-week1-고민혁/signin.html
  1-weekly-mission-week1-고민혁/signup.html
  1-weekly-mission-week1-고민혁/src/media.css
  1-weekly-mission-week1-고민혁/src/style.css
  1-weekly-mission-week1-고민혁/링크브러리.png
  signin/index.html
  signin/media.css
  signin/style.css
  signup/index.html
  signup/media.css
  signup/style.css
Labels: 순한맛🐑 

#86 [조유담] week3
  index.html
  signin.html
  signup.html
  style/common/common.css
  style/landing.css
  style/pages/landing.css
  style/pages/signin.css
  style/style.css
  style/variable.css
Labels: 매운맛🔥

#109 [김기연] week3
  assets/css/common.css
  assets/css/index.css
  assets/css/signform.css
  assets/fonts/pretendard/Pretendard-Black.woff2
  assets/fonts/pretendard/Pretendard-Bold.woff2
  assets/fonts/pretendard/Pretendard-ExtraBold.woff2
  assets/fonts/pretendard/Pretendard-ExtraLight.woff2
  assets/fonts/pretendard/Pretendard-Light.woff2
  assets/fonts/pretendard/Pretendard-Medium.woff2
  assets/fonts/pretendard/Pretendard-Regular.woff2
  assets/fonts/pretendard/Pretendard-SemiBold.woff2
  assets/fonts/pretendard/Pretendard-Thin.woff2
  assets/fonts/pretendard/pretendard.css
  assets/image/Group 36.svg
  assets/image/Search.svg
  assets/image/_img1.png
  assets/image/_img4.png
  assets/image/_img@3x.png
  assets/image/google.png
  assets/image/icon-add.svg
  assets/image/icon-background-google.svg
  assets/image/icon-background-kakao.svg
  assets/image/icon-background-myprofile.svg
  assets/image/icon-download.svg
  assets/image/icon-facebook.svg
  assets/image/icon-instagram.svg
  assets/image/icon-kakao.svg
  assets/image/icon-myprofile.svg
  assets/image/icon-star.svg
  assets/image/icon-twitter.svg
  assets/image/icon-white-smile.svg
  assets/image/icon-youtube.svg
  assets/image/img2.png
  assets/image/img3.png
  assets/image/kebab.svg
  assets/image/link.svg
  assets/image/logo.svg
  assets/image/pen.svg
  assets/image/share.svg
  index.css
  index.html
  signin.css
  signin.html
  signup.html
Labels: 매운맛🔥

#127 [신혜윤] refactor/Week3
  index.html
  signin.html
  signup.html
  styles/index.css
  styles/reset.css
  styles/signin.css
Labels: 순한맛🐑 

#101 [양진수] week3
  .github/delete-merged-branch-config.yml
  .github/pull_request_template.md
  .gitignore
  common.css
  images/middel3_popup.png
  images/middle1.png
  images/middle2-bg.png
  images/middle2.png
  images/middle3.png
  images/middle4.png
  images/top.png
  index.html
  reset.css
  siginup.html
  sign.css
  signin.html
  style.css
Labels: 매운맛🔥

#85 [이승연] week3
  common.css
  images/cards.png
  images/codeit_search_image_tablet.png
  images/main_image_tablet.png
  images/popup_folder_name_change_tablet.png
  images/popup_folder_share_tablet.png
  images/preview_image.webp
  index.html
  singin&up.css
  style.css
Labels: 매운맛🔥

#103 [박세은] week3
  index.html
  signin.html
  style/color.css
  style/common.css
  style/index.css
  style/reset.css
  style/signin.css
Labels: 미완성

#116 Part1 안지수 week3
  .vscode/settings.json
  README.md
  assets/img/img4.png
  index.html
  signin.html
  signup.html
  style/LoginStyle.css
  style/style.css
Labels: 매운맛🔥, 순한맛🐑 

#113 [김진우] Week3
  assets/landing/changeFolderName.png
  assets/landing/content2Img.png
  assets/landing/content5Img.png
  assets/landing/linkShareImg.png
  assets/landing/popup.png
  index.html
  signin/index.html
  signin/signin.css
  signup/index.html
  signup/signup.css
  style.css
  style/contentSection.css
  style/global.css
Labels: 매운맛🔥

#107 [이슬] week3
  assets/content2.png
  assets/content3.png
  assets/content4.png
  assets/content5.png
  global.css
  index.html
  sign.css
  signin/index.html
  signin/signin.css
  signup/index.html
  signup/signup.css
  style.css
Labels: 매운맛🔥

#130 [송민혁] Week 3
  assets/1_section.jpg
  assets/2_section.jpg
  assets/3_section.jpg
  assets/4_section.jpg
  assets/5_section.jpg
  assets/alt_image.png
  assets/eye-off.svg
  assets/facebook.svg
  assets/google.png
  assets/hero.png
  assets/icon/facebook_icons.svg
  assets/icon/google.png
  assets/icon/google.svg
  assets/icon/instagram_icon.svg
  assets/icon/kakao.svg
  assets/icon/twitter_icons.svg
  assets/icon/youtube_icons.svg
  assets/image1.png
  assets/image2.png
  assets/image3.png
  assets/image4.png
  assets/instagram.svg
  assets/kakao.svg
  assets/logo.png
  assets/logo.svg
  assets/twitter.svg
  assets/youtube.svg
  index.css
  index.html
  pages/signin.html
  pages/signup.html
  signin.css
  signin.html
  signup.css
  signup.html
  style/colors.css
  style/global.css
  style/index.css
  style/mediaQuery.css
  style/reset.css
  style/signin.css
Labels: 매운맛🔥

#142 [김다은] week4
  .vscode/settings.json
  assets/components/eye-on.svg
  folder.html
  index.html
  js/signIn.js
  pages/all.css
  pages/faq.css
  pages/globalStyles.css
  pages/index.css
  pages/privacy.css
  pages/sign.css
  pages/signin.css
  signin.html
  signup.html
Labels: 매운맛🔥

#145 [안성재] Week4
  html/faq.html
  html/folder.html
  html/privacy.html
  html/signin.html
  html/signup.html
  images/eye-on.svg
  index.html
  javascript/signin.js
  src/sign.css
Labels: 매운맛🔥, 미완성
