Repository codeit-bootcamp-frontend/1-Weekly-Mission, pull requests merged in 2023-11, with the labels that each got.

#362 [한슬희] Week8
  .github/labeler.yml
  .github/workflows/delete-merged-branch-config.yml
  .github/workflows/labeler.yml
  .stylelintrc.json
  README.md
  docs/week8/README.md
  package-lock.json
  package.json
  public/assets/images/delete.svg
  public/assets/images/pen.svg
  public/assets/images/share.svg
  src/components/Footer.tsx
  src/components/button/serviceWithIcon/button.tsx
  src/components/button/serviceWithIcon/buttonList.tsx
  src/components/card/FolderCard.tsx
  src/components/card/link/LinkCardList.tsx
  src/components/card/link/LinkCardListAll.tsx
  src/components/link/AddLinkBar.tsx
  src/components/profile/UserInform.tsx
  src/constants/link.ts
  src/constants/queryKeys.ts
  src/hooks/getFolderById.ts
  src/hooks/getLinkAll.ts
  src/libs/apis/folder.ts
  src/libs/apis/profile.ts
  src/libs/apis/user.ts
  src/pages/Folder.tsx
  src/pages/Shared.tsx
  src/router/Router.tsx
  src/styles/index.css
  src/styles/modules/addLinkBar.module.css
  src/styles/modules/card.module.css
  src/styles/modules/category.module.css
  src/styles/modules/folder.module.css
  src/styles/modules/footer.module.css
  src/styles/modules/nav.module.css
  src/styles/modules/serviceWithIcon.module.css
  src/styles/modules/shared.module.css
  src/styles/modules/user.module.css
  src/types/folder.d.ts
  src/types/link.d.ts
  src/types/user.d.ts
  src/utils/cutString.ts
Labels: 순한맛🐑 

#339 [이슬] week8
  package-lock.json
  package.json
  src/App.js
  src/assets/icons/Delete.js
  src/assets/icons/FacebookIcon.js
  src/assets/icons/FolderAdd.js
  src/assets/icons/InstagramIcon.js
  src/assets/icons/Kebab.js
  src/assets/icons/Link.js
  src/assets/icons/Logo.js
  src/assets/icons/Pen.js
  src/assets/icons/SearchIcon.js
  src/assets/icons/Share.js
  src/assets/icons/Star.js
  src/assets/icons/TwitterIcon.js
  src/assets/icons/YoutubeIcon.js
  src/components/CardList/Card.js
  src/components/CardList/CardList.js
  src/components/CardList/CardStyles.css
  src/components/FolderItem/FolderItem.css
  src/components/FolderItem/FolderItem.js
  src/components/FolderItem/index.js
  src/components/FolderOwnerInfo/FolderOwnerInfo.js
  src/components/LinkInput/LinkInput.css
  src/components/LinkInput/LinkInput.js
  src/components/LinkInput/index.js
  src/components/Navbar/Navbar.css
  src/components/Navbar/Navbar.js
  src/components/SearchBar/SearchBar.css
  src/pages/FolderPage/FolderPage.css
  src/pages/FolderPage/FolderPage.js
  src/pages/SharedPage.js
  src/utils/api.js
Labels: 매운맛🔥

#371 [이규호] week8
  src/App.js
  src/api/api.js
  src/api/getFolders.js
  src/api/getUserData.js
  src/assets/images/icons/Search.png
  src/assets/images/icons/facebook.png
  src/assets/images/icons/instagram.png
  src/assets/images/icons/twitter.png
  src/assets/images/icons/youtube.png
  src/assets/images/logo/logo.png
  src/assets/images/logo/noImageLogo.png
  src/components/CardItem.js
  src/components/Cards.js
  src/components/FolderInfo.js
  src/components/Footer.js
  src/components/Header.js
  src/components/LoginButton.js
  src/components/Main.js
  src/components/Search.js
  src/components/UserDataInfo.js
  src/components/constants.js
  src/styles/App.module.css
  src/styles/CardItem.module.css
  src/styles/Cards.module.css
  src/styles/FolderInfo.module.css
  src/styles/Footer.module.css
  src/styles/Header.module.css
  src/styles/LoginButton.Module.css
  src/styles/Main.module.css
  src/styles/Search.module.css
  src/styles/UserDataInfo.Module.css
  src/styles/footer.css
  src/styles/header.css
  src/styles/main.css
Labels: 매운맛🔥, 미완성

#356 [전수빈] week8
  package-lock.json
  package.json
  src/App.js
  src/api/api.js
  src/api/apiMapper.js
  src/api/index.js
  src/assets/card/img_option.svg
  src/assets/card/img_star.svg
  src/assets/folder/img_folderAdd.svg
  src/assets/folder/img_linkAddWh.svg
  src/assets/shared/img_deleteIcon.svg
  src/assets/shared/img_editIcon.svg
  src/assets/shared/img_linkAdd.svg
  src/assets/shared/img_shareIcon.svg
  src/components/btn/AddFloatingBtn.js
  src/components/btn/DefaultBtn.js
  src/components/card/Card.js
  src/components/card/CardStyledComponents.js
  src/components/card/card.css
  src/components/common/DefaultLayout.js
  src/components/common/Footer.js
  src/components/common/Header.js
  src/components/common/commonStyledComponents.js
  src/components/common/footer.css
  src/components/common/header.css
  src/components/input/Input.js
  src/components/styles.css
  src/components/styles.js
  src/index.js
  src/page/error/Page404.js
  src/page/error/Page500.js
  src/page/folder/Folder.js
  src/page/folder/FolderStyledComponents.js
  src/page/folder/folder.css
  src/page/shared/Shared.js
  src/page/shared/SharedStyledComponents.js
  src/routes.js
  src/utils/utility.js
Labels: 매운맛🔥

#348 [박경서] week8
  package-lock.json
  package.json
  src/Main.js
  src/api.js
  src/components/App.js
  src/components/Card.js
  src/components/FolderCard.js
  src/components/FolderHeader.js
  src/components/FolderMain.js
  src/components/FolderPage.js
  src/components/Footer.js
  src/components/HomePage.js
  src/components/LogIn.js
  src/components/Main.js
  src/components/Nav.js
  src/components/Profile.js
  src/components/SharedHeader.js
  src/components/SharedPage.js
  src/components/css/Card.css
  src/components/css/FolderHeader.css
  src/components/css/FolderMain.css
  src/components/css/Nav.css
  src/components/css/SharedPage.css
  src/components/dateCalculator.js
  src/components/img/delete.svg
  src/components/img/favorites.svg
  src/components/img/kebab.svg
  src/components/img/link.svg
  src/components/img/pen.svg
  src/components/img/plus-white.svg
  src/components/img/plus.svg
  src/components/img/share.svg
  src/components/img/star.svg
  src/index.js
Labels: 매운맛🔥

#372 [민서영] Week8
  package-lock.json
  package.json
  public/index.html
  src/Main.js
  src/api.js
  src/assets/css/Card.css
  src/assets/css/FolderPage.css
  src/assets/css/Gnb.css
  src/assets/img/icon-link-primary.svg
  src/component/AddLinkBar.js
  src/component/App.js
  src/component/CTA.js
  src/component/CTASmall.js
  src/component/Card.js
  src/component/CardSection.js
  src/component/FolderList.js
  src/component/Footer.js
  src/component/Gnb.js
  src/component/ProfileImg.js
  src/component/SearchBar.js
  src/index.js
  src/pages/FolderPage.js
  src/pages/HomePage.js
  src/pages/NotFoundPage.js
  src/pages/SharedPage.js
  src/style/Btn.js
  src/style/EmptyDiv.js
  src/style/Gnb.js
  src/style/LinkBar.js
Labels: 미완성

#377 [남궁수] week8
  package-lock.json
  package.json
  src/Main.js
  src/api.js
  src/components/AddLink.js
  src/components/App.js
  src/components/Banner.js
  src/components/Card.js
  src/components/CardList.js
  src/components/EditButton.js
  src/components/FolderBar.js
  src/components/FolderBox.js
  src/components/FolderList.js
  src/components/Footer.js
  src/components/Header.js
  src/components/LinkCard.js
  src/components/NoData.js
  src/components/SearchBar.js
  src/css/App.css
  src/css/addlink.css
  src/css/card.css
  src/css/folderbar.css
  src/css/footer.css
  src/css/nodata.css
  src/css/searchbar.css
  src/images/add-mobile.svg
  src/images/add.svg
  src/images/editbutton-delete.svg
  src/images/editbutton-edit.svg
  src/images/editbutton-shared.svg
  src/images/link.svg
  src/index.js
  src/pages/Folder.js
  src/pages/Home.js
  src/pages/NoData.js
  src/pages/Shared.js
  src/utils/snsData.js
  src/utils/timeCalculate.js
Labels: 매운맛🔥

#380 [남궁수영] Week8
  package-lock.json
  package.json
  src/Main.js
  src/assets/images/deleteIcon.png
  src/assets/images/editIcon.png
  src/assets/images/folderAddIcon.png
  src/assets/images/shareIcon.png
  src/components/App/App.js
  src/components/FolderPage/FolderCategory.css
  src/components/FolderPage/FolderCategory.js
  src/components/FolderPage/FolderList.css
  src/components/FolderPage/FolderList.js
  src/components/FolderPage/LinkAdd.css
  src/components/FolderPage/LinkAdd.js
  src/components/FolderPage/LinkItem.css
  src/components/FolderPage/LinkItem.js
  src/components/FolderPage/SearchLink.css
  src/components/FolderPage/SearchLink.js
  src/components/Main/Main.js
  src/components/Nav/Nav.js
  src/index.js
  src/pages/FolderPage.js
  src/utils/api.js
  src/utils/dateUtil.js
Labels: 순한맛🐑 , 미완성

#361 [김소은] week8
  .gitignore
  README.md
  package-lock.json
  package.json
  public/index.html
  src/Main.js
  src/api.js
  src/assets/Avatar.png
  src/assets/banner-img.png
  src/assets/content1.png
  src/assets/content2.png
  src/assets/content3.png
  src/assets/content4.png
  src/assets/eye-off.svg
  src/assets/eye-on.svg
  src/assets/facebook.svg
  src/assets/google.png
  src/assets/icon-smile.svg
  src/assets/instagram.svg
  src/assets/link-Img.png
  src/assets/logo.svg
  src/assets/noImg.svg
  src/assets/profile.png
  src/assets/profile.svg
  src/assets/search.svg
  src/assets/twitter.svg
  src/assets/youtube.svg
  src/components/App.js
  src/components/Button.js
  src/components/CardList.css
  src/components/CardList.js
  src/components/FolderInfo.js
  src/components/FolderInfo.module.css
  src/components/FolderList.js
  src/components/Footer.css
  src/components/Footer.js
  src/components/Nav.css
  src/components/Nav.js
  src/components/Pages/FolderPage/FolderPage.css
  src/components/Pages/FolderPage/FolderPage.js
  src/components/Pages/SharedPage/SharedPage.css
  src/components/Pages/SharedPage/SharedPage.js
  src/components/SearchBar.js
  src/components/SearchBar.module.css
  src/index.js
  src/styles/GlobalStyles.js
  src/utils/formatDate.js
  src/utils/getTimeDifference.js
Labels: 매운맛🔥, 순한맛🐑 , 미완성

#373 [안혜정] week8
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/Article.js
  src/Card.js
  src/Footer.js
  src/HeadSection.js
  src/Header.js
  src/Main.js
  src/Nav.js
  src/RequestApi.js
  src/api/requestApi.js
  src/assets/Avatar.png
  src/assets/Search.svg
  src/assets/Star.svg
  src/assets/add.svg
  src/assets/facebook.svg
  src/assets/instagram.svg
  src/assets/kebab.svg
  src/assets/link.png
  src/assets/link.svg
  src/assets/logo.png
  src/assets/noImg.svg
  src/assets/profileImg.png
  src/assets/selectedStar.svg
  src/assets/twitter.svg
  src/assets/youtube.svg
  src/component/App.js
  src/component/Article.js
  src/component/Card.js
  src/component/CardButton.js
  src/component/ErrorMessage.js
  src/component/FolderArticle.js
  src/component/Footer.js
  src/component/Header.js
  src/component/Nav.js
  src/component/SNS.js
  src/component/Search.js
  src/component/SocialMedia.js
  src/css/index.css
  src/index.js
  src/pages/FolderPage.js
  src/pages/SharedPage.js
  src/utils/date.js
Labels: 매운맛🔥, 미완성

#383 Part2 안지수 week8
  package-lock.json
  package.json
  src/App.js
  src/App.test.js
  src/assets/Avatar.png
  src/assets/Search.svg
  src/assets/logo.svg
  src/assets/profile.svg
  src/components/Card.js
  src/components/Search.js
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/Main.js
  src/reportWebVitals.js
  src/setupTests.js
Labels: 매운맛🔥, 미완성

#389 [남민섭] week9
  .gitignore
  public/img/png/Card 1.png
  public/img/png/Card-1.png
  public/img/png/Card.png
  public/img/png/Component 2.png
  public/img/png/Component 3.png
  public/img/png/Linkbrary.png
  public/img/png/Vector-1.png
  public/img/png/Vector-2.png
  public/img/png/Vector-3.png
  public/img/png/Vector-4.png
  public/img/png/Vector.png
  public/img/png/changing.png
  public/img/png/image 25.png
  public/img/png/image 28.png
  public/img/png/image10.png
  public/img/png/image11.png
  public/img/png/image12.png
  public/img/png/image13.png
  public/img/png/image14.png
  public/img/png/image15.png
  public/img/png/image25.png
  public/img/png/image27.png
  public/img/png/image7.png
  public/img/png/image8.png
  public/img/png/image9.png
  public/img/png/img1.png
  public/img/png/img2.png
  public/img/png/img3.png
  public/img/png/img4.png
  public/img/png/sharing.png
  public/index.html
  src/App.js
  src/components/AddInputSection.js
  src/components/BookMark.js
  src/components/CardItem.js
  src/components/Cards.js
  src/components/Footer.js
  src/components/Header.js
  src/components/Search.js
  src/components/UserFolder.js
  src/components/folder/AddLink.js
  src/components/folder/Folder.js
  src/components/folder/UserFolder.js
  src/components/shared/Cards.js
  src/components/shared/Shared.js
  src/hooks/useFetch.js
  src/img/svg/close.svg
  src/img/svg/facebookIcon.svg
  src/img/svg/kakaoIcon.svg
  src/img/svg/linkIcon.svg
  src/modal/ModalFolder.js
  src/modal/modalFolder.css
  src/pages/Folder.js
  src/pages/Shared.js
  src/utils/config.js
  src/utils/location.js
  src/utils/urlCopy.js
Labels: 매운맛🔥

#392 [박소현] week9
  .eslintrc.js
  public/index.html
  src/App.js
  src/assets/check.svg
  src/assets/close.svg
  src/assets/sns/facebook.svg
  src/assets/sns/kakao.svg
  src/assets/sns/link_round.svg
  src/common/libraries/shareClipboardLink.js
  src/common/libraries/shareFacebookLink.js
  src/common/libraries/shareKakaoLink.js
  src/components/Categories.js
  src/components/Kebabmenu.js
  src/components/ModalPortal.js
  src/components/Options.js
  src/components/button/Button.js
  src/components/button/ModalButton.js
  src/components/card/CardItem.js
  src/components/card/CardItemStyle.js
  src/components/card/CardList.js
  src/components/hero/Hero.js
  src/components/hero/HeroAboutFolder.js
  src/components/inputs/Searchbar.js
  src/components/inputs/SearchbarStyle.js
  src/components/inputs/addLinkFolder.js
  src/components/layout/footer/Footer.js
  src/components/layout/header/Header.js
  src/components/layout/header/HeaderStyle.js
  src/components/modal/AddLink.js
  src/components/modal/DeleteFolder.js
  src/components/modal/EditFolder.js
  src/components/modal/ModalContainer.js
  src/components/modal/PopoverMenu.js
  src/components/modal/ShareFolder.js
  src/components/modal/addFolder.js
  src/components/searchbar/Searchbar.js
  src/components/title/ModalTitle.js
  src/context/FolderContext.js
  src/pages/folder/FolderContainer.js
  src/pages/folder/index.js
  src/pages/shareFolder/ShareContainer.js
  src/pages/shareFolder/index.js
Labels: 매운맛🔥

#411 [손지은] week9
  .gitignore
  src/App.js
  src/api/sampleFolder.js
  src/assets/img/check.svg
  src/assets/img/modal-close.svg
  src/assets/img/modal-facebook.svg
  src/assets/img/modal-kakao.svg
  src/assets/img/modal-link-copy.svg
  src/color.css
  src/component/AddLink.js
  src/component/AddLink/AddLink.js
  src/component/AddLink/AddLink.module.css
  src/component/Card.js
  src/component/Card/Card.js
  src/component/Card/Card.module.css
  src/component/Cards.js
  src/component/Cards/Cards.module.css
  src/component/Cards/FolderPageCards.js
  src/component/Cards/SharedPageCards.js
  src/component/CurrentFolder.js
  src/component/CurrentFolder/CurrentFolder.js
  src/component/CurrentFolder/CurrentFolder.module.css
  src/component/FolderInfo.js
  src/component/FolderInfo/FolderInfo.js
  src/component/FolderInfo/FolderInfo.module.css
  src/component/FolderItem.js
  src/component/FolderItem/FolderItem.js
  src/component/FolderItem/FolderItem.module.css
  src/component/FolderList.js
  src/component/FolderList/FolderList.js
  src/component/FolderList/FolderList.module.css
  src/component/Kebab/Kebab.js
  src/component/Kebab/Kebab.module.css
  src/component/LinkButton.js
  src/component/LinkButton/LinkButton.js
  src/component/LinkButton/LinkButton.module.css
  src/component/Modal/AddLinkModal.js
  src/component/Modal/AddLinkModal.module.css
  src/component/Modal/Modal.js
  src/component/Modal/Modal.module.css
  src/component/Modal/ShareModal.js
  src/component/Modal/ShareModal.module.css
  src/component/NavProfile.js
  src/component/NavProfile/NavProfile.js
  src/component/NavProfile/NavProfile.module.css
  src/component/Search/Search.js
  src/component/Search/Search.module.css
  src/component/SocialShare/KakaoShare.js
  src/component/SocialShare/MetaShare.js
  src/containers/Footer/Footer.js
  src/containers/Nav/Nav.js
  src/hooks/useScript.js
  src/pages/ErrorPage.js
  src/pages/FolderPage.js
  src/pages/SharedPage.js
  src/pages/SignInPage.js
  src/util/copyClipBoard.js
  src/util/toastPop.js
Labels: 매운맛🔥

#391 [조연아]week9
  src/App.js
  src/api/folder.js
  src/api/users.js
  src/assets/images/delete.svg
  src/assets/images/kakaochat.svg
  src/assets/images/kebab.svg
  src/assets/images/linkcopy.svg
  src/assets/images/metachat.svg
  src/assets/images/namechange.svg
  src/assets/images/share.svg
  src/common/card/Card.js
  src/common/card/Card.module.css
  src/common/footer/Footer.js
  src/common/footer/Footer.module.css
  src/common/header/Header.js
  src/common/header/Header.module.css
  src/common/modal/ConfirmModal.js
  src/common/modal/HeaderModal.js
  src/common/modal/HeaderModal.module.css
  src/common/modal/Modal.js
  src/common/modal/Modal.module.css
  src/common/profile/Profile.js
  src/common/profile/Profile.module.css
  src/common/searchBar/SearchBar.js
  src/common/searchBar/SearchBar.module.css
  src/components/article/Article.js
  src/components/button/Button.js
  src/components/button/FolderButton.js
  src/components/button/FolderButton.module.css
  src/components/button/HeaderButton.js
  src/components/button/HeaderButton.module.css
  src/components/dropdown/DropDown.js
  src/components/dropdown/DropDown.module.css
  src/components/dropdown/test(나중에버그확인하기).js
  src/components/imageList/ImageList.js
  src/components/imageList/ImageList.module.css
  src/components/imageList/ImageListItem.js
  src/components/imageList/ImageListItem.module.css
  src/components/linksdata/DataListItem.js
  src/components/linksdata/WholeData.js
  src/components/linksdata/WholeData.module.css
  src/components/menuBar/FolderMenu.js
  src/components/menuBar/FolderMenu.module.css
  src/components/menuBar/Menubar.js
  src/components/nav/FolderNav.js
  src/components/nav/ShareNav.js
  src/components/socialshare/ClipCopy.js
  src/components/socialshare/KaKao.js
  src/components/socialshare/Meta.js
  src/contexts/LocaleContext.js
  src/hooks/useFetch.js
  src/hooks/useTest.js
  src/hooks/useUserFetch.js
  src/hooks/useUserLinks.js
  src/hooks/userUserFolderFetch.js
  src/pages/FolderPage.js
  src/pages/NothingPage.js
  src/pages/NothingPage.module.css
  src/pages/SharedPage.js
Labels: bug, 매운맛🔥

#409 [주소희] week9
  src/App.js
  src/components/Cards.css
  src/components/Cards.js
  src/components/Folders.css
  src/components/Folders.js
  src/components/Footer.css
  src/components/LinkAdd.css
  src/components/Main.css
  src/components/Modal.css
  src/components/Modal.js
  src/components/Nav.css
  src/components/Nav.js
  src/components/Option.css
  src/components/SearchBar.css
  src/components/modals/AddFolderModal.css
  src/components/modals/AddFolderModal.js
  src/components/modals/AddLinkModal.css
  src/components/modals/AddLinkModal.js
  src/components/modals/DeleteLinkModal.css
  src/components/modals/DeleteLinkModal.js
  src/components/modals/DeleteModal.css
  src/components/modals/DeleteModal.js
  src/components/modals/RenameModal.css
  src/components/modals/RenameModal.js
  src/components/modals/ShareFolderModal.css
  src/components/modals/ShareFolderModal.js
  src/img/_close.svg
  src/img/add-white.svg
  src/img/kebab.png
  src/img/starDefault.png
  src/img/starSelected.png
  src/pages/Folder.js
Labels: 미완성

#237 [Fix] delete merged branch github action
  .github/workflows/delete-merged-branch-config.yml
Labels: bug

#407 [김선혜] Week9
  public/index.html
  src/App.jsx
  src/assets/icons/close.svg
  src/components/folderHeader/FolderHeader.jsx
  src/components/folderHeader/folderHeader.style.js
  src/components/folderLinkList/FolderLinkList.jsx
  src/components/folderTabList/FolderTabList.jsx
  src/components/folderTabList/folderTabList.style.js
  src/components/footer/footer.style.js
  src/components/header/header.style.js
  src/components/linkAddBar/linkAddBar.style.js
  src/components/linkCard/linkCard.style.js
  src/components/linkCardList/LinkCardList.jsx
  src/components/linkCardList/linkCardList.style.js
  src/components/linkSearchBar/linkSearchBar.style.js
  src/components/modals/folderAddModal/FolderAddModal.jsx
  src/components/modals/folderAddModal/folderAddModal.style.js
  src/components/modals/modalBase/ModalBase.jsx
  src/components/modals/modalBase/modalBase.style.js
  src/hooks/useModal.js
  src/index.js
  src/layouts/layout.style.js
  src/layouts/modal/ModalLayout.jsx
  src/layouts/modal/modalLayout.style.js
  src/layouts/page/PageLayout.jsx
  src/layouts/page/pageLayout.style.js
  src/pages/folder/FolderPage.jsx
  src/pages/folder/folderPage.style.js
  src/pages/linkShare/linkSharePage.js
  src/pages/linkShare/linkSharePage.style.js
  src/utils/constants.js
Labels: 매운맛🔥, 미완성

#381 [신혜윤] Week8 - 8팀
  package-lock.json
  package.json
  src/App.js
  src/Main.js
  src/assets/svg/link.svg
  src/components/AddLink.js
  src/components/BaseButton.js
  src/components/Card.js
  src/components/CardList.css
  src/components/CardList.js
  src/components/Main.js
  src/components/Nav.css
  src/components/Nav.js
  src/components/Option.js
  src/components/SearchBar.css
  src/components/Searchbar.js
  src/components/SortingFolder.css
  src/components/SortingFolder.js
  src/pages/Folder.js
  src/pages/Home.js
  src/pages/Shared.js
  src/services/api.js
  src/styles/reset.css
Labels: 미완성

#413 [손상희] Week9 -8팀
  public/index.html
  src/assets/svg/close.svg
  src/assets/svg/kakao.svg
  src/components/Card/Card.jsx
  src/components/Card/CardList.jsx
  src/components/Folder/CategoryTitleContainer.jsx
  src/components/Folder/FolderCategory.jsx
  src/components/Folder/FolderMain.jsx
  src/components/Modal/FolderAddModal.jsx
  src/components/Modal/FolderDeleteModal.jsx
  src/components/Modal/FolderEditModal.jsx
  src/components/Modal/FolderModal.jsx
  src/components/Modal/FolderShareModal.jsx
  src/components/Modal/FolderToAddModal.jsx
  src/components/Modal/LinkDeleteModal.jsx
  src/components/Modal/Modal.jsx
  src/components/Popover/SelectMenu.jsx
  src/hooks/useAsync.js
  src/hooks/useOnClickOutside.js
  src/styles/FloatingActionButton.jsx
  src/styles/IconControlButton.jsx
  src/styles/ModalStyle.jsx
Labels: 매운맛🔥, 미완성

#422 [송민혁] Week9 - 8팀
  package-lock.json
  package.json
  public/assets/image/close.png
  public/assets/image/close.svg
  public/assets/image/facebook.png
  public/assets/image/kakao.jpg
  public/assets/image/kakao.png
  public/assets/image/linkshare.png
  src/App.js
  src/assets/icon/icon-pen.svg
  src/assets/icon/icon-share.svg
  src/assets/icon/icon-trash.svg
  src/components/Card.jsx
  src/components/CardList.jsx
  src/components/Cta.jsx
  src/components/Folder.jsx
  src/components/Modal/AddFolderModal.jsx
  src/components/Modal/InsertFolderModal.jsx
  src/components/Modal/RemoveFolderModal.jsx
  src/components/Modal/RemoveLinkModal.jsx
  src/components/Modal/RenameFolderModal.jsx
  src/components/Modal/ShareFolderModal.jsx
  src/components/OptionBtn.jsx
  src/css/colors.css
  src/index.js
  src/pages/FolderPage.jsx
Labels: 매운맛🔥, 미완성

#408 [송규경] week9
  package-lock.json
  package.json
  public/Avatar.png
  public/index.html
  src/assets/closebtn.svg
  src/assets/facebook-share.svg
  src/assets/kakao-share.svg
  src/assets/link-share.svg
  src/components/FolderLists/AddFolderBtn.jsx
  src/components/FolderLists/EditFolderTools.jsx
  src/components/FolderLists/FolderLists.jsx
  src/components/FolderLists/StyledFolderLists.js
  src/components/Modal/ModalAdd.jsx
  src/components/Modal/ModalDelete.jsx
  src/components/Modal/ModalEdit.jsx
  src/components/Modal/ModalShare.jsx
  src/components/Modal/StyledModal.js
  src/components/index.js
  src/utils/api.js
Labels: 매운맛🔥, 미완성

#426 [이규호] week9
  src/components/LoginButton.js
Labels: 매운맛🔥, 미완성

#395 [임건우] Week9
  public/index.html
  src/App.jsx
  src/assets/icons/check.svg
  src/assets/icons/close.svg
  src/assets/icons/facebook-large.svg
  src/assets/icons/kakaotalk-large.svg
  src/assets/icons/share-link.svg
  src/components/Card/Card.jsx
  src/components/Card/Card.style.js
  src/components/CardsContainer/CardsContainer.jsx
  src/components/Modal/AddToFolder/AddToFolder.jsx
  src/components/Modal/AddToFolder/AddToFolder.style.js
  src/components/Modal/AddToFolder/index.js
  src/components/Modal/DeleteFolder/DeleteFolder.jsx
  src/components/Modal/DeleteFolder/index.js
  src/components/Modal/DeleteLink/DeleteLink.jsx
  src/components/Modal/DeleteLink/index.js
  src/components/Modal/Edit/Edit.jsx
  src/components/Modal/Edit/index.js
  src/components/Modal/Layout/Layout.jsx
  src/components/Modal/Layout/index.js
  src/components/Modal/Modal.style.js
  src/components/Modal/NewFolder/NewFolder.jsx
  src/components/Modal/NewFolder/index.js
  src/components/Modal/Share/Share.jsx
  src/components/Modal/Share/Share.style.js
  src/components/Modal/Share/index.js
  src/components/Navigator/Navigator.style.js
  src/components/Toast/CopyToClipboard/CopyToClipboard.jsx
  src/components/Toast/CopyToClipboard/CopyToClipboard.style.js
  src/components/Toast/CopyToClipboard/index.js
  src/components/Toast/ToastPortals.js
  src/hooks/useModal.js
  src/hooks/useToast.js
  src/pages/Folder/Folder.jsx
  src/pages/Folder/components/AddLinkContainer/AddLinkContainer.jsx
  src/pages/Folder/components/FoldersContainer/FoldersContainer.jsx
  src/pages/Folder/components/FoldersView/FoldersView.jsx
  src/pages/Folder/components/FoldersView/FoldersView.style.js
  src/pages/Folder/components/InfoContainer/InfoContainer.jsx
  src/pages/Folder/components/InfoContainer/InfoContainer.style.js
  src/pages/Folder/components/InfoContainer/index.js
  src/pages/Home/components/Card/Card.jsx
  src/pages/NotFound/NotFound.jsx
  src/pages/NotFound/NotFound.style.js
  src/pages/NotFound/index.js
  src/styles/mediaQuery.js
  src/styles/reset.js
  src/utils/debounce.js
Labels: 매운맛🔥

#399 [김기연] week9
  package-lock.json
  package.json
  src/assets/image/CloseTabBtnBackground.svg
  src/assets/image/check-icon.svg
  src/assets/image/facebook.svg
  src/assets/image/kakao.svg
  src/components/CardContainer/Card.jsx
  src/components/CardContainer/CardContainer.css
  src/components/CardContainer/CardContainer.jsx
  src/components/Header/Header.jsx
  src/components/HeroContent/FolderHero/FolderHero.jsx
  src/components/MainContent.jsx
  src/components/StyledButtons/AddFolderOptionBtn.jsx
  src/components/StyledButtons/BlueGradationBtn.jsx
  src/components/StyledButtons/CloseTabBtn.jsx
  src/components/StyledButtons/FloatingAddFolderBtn.jsx
  src/components/StyledButtons/RedWarningBtn.jsx
  src/components/StyledButtons/TagBtn/TagBtnContainer.jsx
  src/components/TextInputs/ModalTextInput.jsx
  src/components/TextInputs/SearchLinkInput/searchLinkInput.css
  src/components/TextInputs/SearchLinkInput/searchLinkInput.jsx
  src/index.js
  src/modals/ModalCommonStyles.jsx
  src/modals/ModalContainer.jsx
  src/modals/contents/AddFolder.jsx
  src/modals/contents/AddLinkToFolder.jsx
  src/modals/contents/DeleteFolder.jsx
  src/modals/contents/DeleteLink.jsx
  src/modals/contents/EditFolderName.jsx
  src/modals/contents/ShareFolder.jsx
  src/pages/FolderPage/FolderPage.jsx
  src/pages/Mainpage/MainPage.jsx
  src/pages/SharedPage/SharedPage.jsx
  src/utils/getFolderTagListData.jsx
Labels: 매운맛🔥

#417 [김진우] Week9
  package-lock.json
  package.json
  public/index.html
  src/api/folder.js
  src/assets/common/kakaoicon.svg
  src/assets/folder/check.svg
  src/assets/folder/modalCloseBtn.svg
  src/components/card/Card.js
  src/components/card/card.css
  src/components/kebabButton/KebabButton.js
  src/components/kebabButton/kebabButton.css
  src/components/modal/DialogMain.js
  src/components/modal/components/dialogButton/DialogButton.js
  src/components/modal/components/dialogButton/dialogButton.css
  src/components/modal/components/dialogFolderList/DialogFolderList.js
  src/components/modal/components/dialogFolderList/dialogFolderList.css
  src/components/modal/components/dialogIconsBox/DialogIconsBox.js
  src/components/modal/components/dialogIconsBox/dialogIconsBox.css
  src/components/modal/components/dialogInput/DialogInput.js
  src/components/modal/components/dialogInput/dialogInput.css
  src/components/modal/components/dialogLink/DialogLink.js
  src/components/modal/components/dialogLink/dialogLink.css
  src/components/modal/components/dialogTitle/DialogTitle.js
  src/components/modal/components/dialogTitle/dialogTitle.css
  src/components/modal/constant.js
  src/components/modal/dialogMain.css
  src/components/popover/Popover.js
  src/components/popover/constant.js
  src/components/popover/popover.css
  src/hooks/useModal.js
  src/hooks/useScript.js
  src/pages/folder/FolderPage.js
  src/pages/folder/components/addLinkInput/AddLinkInput.js
  src/pages/folder/components/optionButton/OptionButton.js
  src/pages/folder/components/optionButton/optionButton.css
  src/pages/folder/folderPage.css
  src/styles/global.css
Labels: 매운맛🔥

#388 [안성재] Week9
  .vscode/settings.json
  package-lock.json
  package.json
  public/index.html
  src/api/index.js
  src/components/AddLinkForm/AddLinkForm.jsx
  src/components/AddLinkForm/AddLinkForm.style.js
  src/components/CardList/Card/Card.jsx
  src/components/CardList/Card/Card.style.js
  src/components/CardList/CardList.jsx
  src/components/CurrentFolderInfo/CurrentFolderInfo.jsx
  src/components/CurrentFolderInfo/CurrentFolderInfo.style.js
  src/components/CurrentFolderInfo/index.js
  src/components/FolderInfo/FolderInfo.jsx
  src/components/FolderInfo/FolderInfo.style.js
  src/components/FolderList/FolderList.jsx
  src/components/FolderList/FolderList.style.js
  src/components/Modal/Modal.jsx
  src/components/Modal/Modal.style.js
  src/components/Modal/ModalAddFolder.jsx
  src/components/Modal/ModalAddLink.jsx
  src/components/Modal/ModalDelete.jsx
  src/components/Modal/ModalDeleteLink.jsx
  src/components/Modal/ModalEdit.jsx
  src/components/Modal/ModalShare.jsx
  src/components/Modal/index.js
  src/components/Nav/Nav.jsx
  src/components/Profile/Profile.jsx
  src/components/Profile/Profile.style.js
  src/components/SampleCardList/SampleCard/SampleCard.jsx
  src/components/SampleCardList/SampleCardList.jsx
  src/components/SearchBar/SearchBar.jsx
  src/components/SearchBar/SearchBar.style.js
  src/hooks/useRequest.js
  src/images/_close.png
  src/images/_close.svg
  src/images/facebook.svg
  src/images/kakao.svg
  src/pages/FolderPage/FolderPage.jsx
  src/pages/SharedPage/SharedPage.jsx
  src/utils/format.js
Labels: 매운맛🔥

#387 [김윤후] Week9
  package-lock.json
  package.json
  public/images/facebook2.svg
  public/images/modalClose.svg
  public/images/shareLink.svg
  public/index.html
  src/api/getFullFolderApi.js
  src/components/addLink/AddLink.js
  src/components/kebab/Kebab.jsx
  src/components/kebab/KebabAdd.jsx
  src/components/kebab/KebabDelete.jsx
  src/components/modal/Modal.jsx
  src/components/modal/ModalBackground.jsx
  src/components/modal/ModalListButton.jsx
  src/components/modal/ModalListInput.jsx
  src/pages/folderPage/Card.js
  src/pages/folderPage/Cards.js
  src/pages/folderPage/Header.js
Labels: 매운맛🔥

#412 [이슬] Week9
  src/components/Dialog/Dialog.js
  src/components/Dialog/DialogMain.js
  src/components/Dialog/index.js
  src/pages/FolderPage/FolderPage.js
Labels: 매운맛🔥, 미완성

#419 [전수빈] week9
  package-lock.json
  package.json
  public/index.html
  src/assets/modal/img_facebookIcon.svg
  src/assets/modal/img_kakaoIcon.svg
  src/assets/modal/img_linkCopyIcon.svg
  src/assets/modal/img_modalCheck.svg
  src/assets/modal/img_modalClose.svg
  src/components/btn/DefaultBtn.js
  src/components/card/Card.js
  src/components/input/Input.js
  src/components/modal/AddToFolderModal.js
  src/components/modal/DefaultModal.js
  src/components/modal/ModalLayout.js
  src/components/modal/ModalStyledComponents.js
  src/components/modal/ShareFolderModal.js
  src/index.js
  src/page/folder/Folder.js
  src/page/shared/Shared.js
  src/recoil/modal.js
Labels: 매운맛🔥

#418 [조유담] Week9
  .prettierrc.json
  src/App.js
  src/Hooks/useModal.js
  src/Pages/FolderPage.js
  src/Pages/FolderPage/FolderPage.js
  src/Pages/FolderPage/components/AddLink/AddLink.jsx
  src/Pages/FolderPage/components/FolderAndLink/FolderAndLink.jsx
  src/Pages/FolderPage/components/FolderList/FolderList.jsx
  src/Pages/FolderPage/components/FolderList/FolderListStyle.js
  src/Pages/FolderPage/components/LinkList/LinkList.jsx
  src/Pages/FolderPage/components/NoLink/NoLink.jsx
  src/Pages/FolderPage/components/SelectedFolder/SelectedFolder.jsx
  src/Pages/SharedPage.js
  src/api.js
  src/assets/kebab.svg
  src/assets/modal/_close.png
  src/assets/modal/_close.svg
  src/assets/modal/check.svg
  src/assets/modal/facebook.svg
  src/assets/modal/kakao.svg
  src/assets/modal/sharelink.svg
  src/assets/star.png
  src/components/AddLink/AddLink.jsx
  src/components/Button/Button.jsx
  src/components/Button/ButtonStyle.js
  src/components/Card/Card.jsx
  src/components/Card/CardStyle.js
  src/components/CardList/CardListStyle.js
  src/components/Folder/Folder.jsx
  src/components/FolderAndLink/FolderAndLink.jsx
  src/components/FolderList/FolderList.jsx
  src/components/FolderList/FolderListStyle.js
  src/components/Footer/FooterStyle.js
  src/components/Header/Header.jsx
  src/components/Header/HeaderStyle.js
  src/components/Main/MainStyle.js
  src/components/Modal/Modal.jsx
  src/components/Modal/ModalStyle.js
  src/components/Nav/Nav.jsx
  src/components/Nav/NavStyle.js
  src/components/Nav/Profile.jsx
  src/components/Nav/ProfileStyle.js
  src/components/SearchBar/SearchBar.jsx
  src/components/SearchBar/SearchBarStyle.js
  src/style/reset.js
Labels: 미완성

#402 [임윤혁] Week9
  .gitignore
  package-lock.json
  package.json
  src/assets/icon/check.svg
  src/assets/images/close.png
  src/assets/images/facebook.png
  src/assets/images/kakao.png
  src/assets/images/link.png
  src/components/Card/Card.js
  src/components/Card/Card.module.css
  src/components/CardList/CardList.js
  src/components/FolderAddButton/FolderAddButton.css
  src/components/FolderAddButton/FolderAddButton.js
  src/components/FolderList/FolderList.js
  src/components/FunctionButton/FunctionButton.css
  src/components/FunctionButton/FunctionButton.js
  src/components/KebabButton/KebabButton.js
  src/components/LinkAdd/LinkAdd.js
  src/components/Modal/Modal.js
  src/components/Modal/ModalBackground.js
  src/components/Modal/ModalButton.js
  src/components/Modal/ModalFolderList.js
  src/components/Modal/ModalInput.js
  src/components/Modal/ModalShareButton.js
  src/components/Modal/ModalSubTitle.js
  src/components/Modal/ModalTitle.js
  src/components/SelectMenu/DeleteButton.js
  src/components/SelectMenu/FolderAddButton.js
  src/components/SelectMenu/SelectMenu.js
  src/pages/Folder.js
  src/styles/GlobalStyle.js
  src/utils/shareKakaoLink.js
Labels: 순한맛🐑 

#401 [민서영] week9
  src/assets/css/Card.css
  src/assets/css/Star.css
  src/assets/img/icon-add-gray.svg
  src/assets/img/icon-add-purple.svg
  src/assets/img/icon-pen.svg
  src/assets/img/icon-share.svg
  src/assets/img/icon-trash.svg
  src/component/AddFolderBtn.js
  src/component/CTA.js
  src/component/CTASmall.js
  src/component/Card.js
  src/component/FloatingBtn.js
  src/component/FolderList.js
  src/component/FunctionBtn.js
  src/component/PopOver.js
  src/pages/FolderPage.js
  src/style/AddFolderBtn.js
  src/style/Btn.js
  src/style/FloatingFolderBtn.js
  src/style/FolderList.js
  src/style/FunctionBtn.js
  src/style/GlobalStyles.js
  src/style/LinkBar.js
  src/style/PopOver.js
Labels: 미완성

#414 add footer
  src/assets/facebook.svg
  src/assets/instagram.svg
  src/assets/twitter.svg
  src/assets/youtube.svg
  src/pages/Main.js
Labels: 미완성

#420 [안혜정] week9
  .eslintrc.js
  package-lock.json
  package.json
  public/index.html
  src/Main.js
  src/api/requestApi.js
  src/assets/Delete.svg
  src/assets/Star.svg
  src/assets/_close.png
  src/assets/add.svg
  src/assets/pen.svg
  src/assets/share.svg
  src/component/App.js
  src/component/Article.js
  src/component/Article/Article.js
  src/component/Article/Article.style.js
  src/component/Card.js
  src/component/Card/Card.js
  src/component/Card/Card.style.js
  src/component/Card/CardContainer.js
  src/component/Card/CardContainer.style.js
  src/component/CardButton.js
  src/component/Empty/Empty.style.js
  src/component/Empty/EmptyData.js
  src/component/FolderArticle.js
  src/component/FolderArticle/FolderArticle.js
  src/component/FolderArticle/FolderArticle.style.js
  src/component/Footer.js
  src/component/Footer/Footer.js
  src/component/Footer/Footer.style.js
  src/component/Footer/SNS.js
  src/component/Footer/SocialMedia.js
  src/component/Header.js
  src/component/Header/Header.js
  src/component/Header/Header.style.js
  src/component/Modal/Modal.js
  src/component/Modal/Modal.style.js
  src/component/Modal/useModal.js
  src/component/Nav.js
  src/component/Nav/Nav.js
  src/component/Nav/Nav.style.js
  src/component/PopOver/PopOver.js
  src/component/PopOver/PopOver.style.js
  src/component/Search.js
  src/component/Search/Search.js
  src/component/Search/Search.style.js
  src/component/TitleButton/CardButton.js
  src/component/TitleButton/CardMenuBar.js
  src/component/TitleButton/CardMenuBar.style.js
  src/component/TitleText/MenuTitle.js
  src/component/TitleText/MenuTitleButton.js
  src/component/TitleText/Title.style.js
  src/component/TitleText/TitleButton.style.js
  src/css/display.js
  src/css/index.css
  src/pages/FolderPage.js
  src/pages/FolderPage/FolderPage.js
  src/pages/SharedPage.js
  src/pages/SharedPage/SharedPage.js
  src/pages/portal.jsx
Labels: 매운맛🔥, 미완성

#403 [박종민] Week9
  package-lock.json
  package.json
  public/index.html
  src/App.jsx
  src/apis/api.js
  src/apis/fetch.js
  src/assets/_close.svg
  src/assets/images.js
  src/components/Addlink/Addlink.jsx
  src/components/Button/Button.jsx
  src/components/Button/LinkButton.jsx
  src/components/Button/styles.js
  src/components/Card/Card.jsx
  src/components/Card/CardList.jsx
  src/components/Card/styles.js
  src/components/Folder/FolderMenubar.jsx
  src/components/Folder/FolderNavbar.jsx
  src/components/Footer/Footer.jsx
  src/components/Modal/Modal.jsx
  src/components/Modal/ModalAddFolder.jsx
  src/components/Modal/ModalAddToFolder.jsx
  src/components/Modal/ModalDelete.jsx
  src/components/Modal/ModalDeleteLink.jsx
  src/components/Modal/ModalEdit.jsx
  src/components/Modal/ModalShare.jsx
  src/components/Modal/styles.js
  src/components/Navbar/Navbar.jsx
  src/constants/constant.js
  src/containers/Folder/FolderContainer.jsx
  src/containers/Home/styles.js
  src/hooks/useAsync.js
  src/hooks/useOnClickOutside.js
  src/hooks/useToggle.js
  src/index.js
  src/index.jsx
  src/pages/Folder/styles.js
  src/pages/FolderPage.jsx
  src/pages/Homepage.jsx
  src/pages/NotFound.jsx
  src/pages/NotFound/NotFound.jsx
  src/pages/Share/styles.js
  src/pages/SharePage.jsx
  src/pages/SignInPage.jsx
  src/pages/SignUpPage.jsx
  src/pages/index.js
  src/pages/pages.js
  src/recoil/atoms/atom.js
  src/styles/global.css
  src/styles/media.js
  src/styles/reset.css
  src/styles/style.css
  src/styles/unused-member.css
  src/styles/unused-style.css
  src/utils/mapFetch.js
  src/utils/utils.js
Labels: 순한맛🐑 , 미완성

#435 [남민섭] Week12
  package-lock.json
  package.json
  src/App.js
  src/App.test.tsx
  src/App.tsx
  src/components/AddInputSection.js
  src/components/AddInputSection.tsx
  src/components/BookMark.js
  src/components/BookMark.tsx
  src/components/CardItem.js
  src/components/CardItem.tsx
  src/components/Cards.js
  src/components/Cards.tsx
  src/components/Footer.js
  src/components/Footer.tsx
  src/components/Header.js
  src/components/Header.tsx
  src/components/ObserveAddInput.tsx
  src/components/Search.js
  src/components/Search.tsx
  src/components/UserFolder.js
  src/components/UserFolder.tsx
  src/components/components.css
  src/components/header.css
  src/contexts/AccountContext.js
  src/contexts/AccountContext.ts
  src/css/reset.css
  src/custom.d.ts
  src/dataType/dataType.ts
  src/hooks/useFetch.ts
  src/index.tsx
  src/modal/ModalFolder.js
  src/modal/ModalFolder.tsx
  src/pages/Folder.js
  src/pages/Folder.tsx
  src/pages/Shared.js
  src/pages/Shared.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  src/utils/config.ts
  src/utils/location.ts
  src/utils/postTime.js
  src/utils/postTime.ts
  src/utils/urlCopy.ts
  tsconfig.json
Labels: 매운맛🔥

#442 [이슬] week12
  package-lock.json
  package.json
  src/App.tsx
  src/assets/icons/Close.tsx
  src/assets/icons/Delete.tsx
  src/assets/icons/FacebookIcon.tsx
  src/assets/icons/FolderAdd.tsx
  src/assets/icons/InstagramIcon.tsx
  src/assets/icons/Kebab.tsx
  src/assets/icons/Link.tsx
  src/assets/icons/Logo.tsx
  src/assets/icons/Pen.tsx
  src/assets/icons/SearchIcon.tsx
  src/assets/icons/Share.tsx
  src/assets/icons/Star.tsx
  src/assets/icons/TwitterIcon.tsx
  src/assets/icons/YoutubeIcon.tsx
  src/components/CardList/Card.js
  src/components/CardList/Card.tsx
  src/components/CardList/CardList.js
  src/components/CardList/CardList.tsx
  src/components/CardList/index.ts
  src/components/Dialog/Dialog.ts
  src/components/Dialog/DialogMain.tsx
  src/components/Dialog/index.ts
  src/components/FolderItem/FolderItem.js
  src/components/FolderItem/FolderItem.tsx
  src/components/FolderItem/index.ts
  src/components/FolderOwnerInfo/FolderOwnerInfo.tsx
  src/components/FolderOwnerInfo/index.ts
  src/components/Footer/Footer.tsx
  src/components/Footer/SocialLink.tsx
  src/components/Footer/index.ts
  src/components/LinkInput/LinkInput.tsx
  src/components/LinkInput/index.ts
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/index.ts
  src/components/SearchBar/SearchBar.css
  src/components/SearchBar/SearchBar.js
  src/components/SearchBar/SearchBar.tsx
  src/components/SearchBar/index.ts
  src/index.js
  src/index.tsx
  src/pages/FolderPage/FolderPage.tsx
  src/pages/SharedPage.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  src/utils/api.ts
  src/utils/timeUtils.ts
  tsconfig.json
Labels: 매운맛🔥

#451 [안혜정] week12
  package-lock.json
  package.json
  src/Main.js
  src/api/requestApi.js
  src/assets/Kakao.svg
  src/assets/facebook.svg
  src/component/AddToFolder/AddToFolder.js
  src/component/AddToFolder/AddToFolder.style.js
  src/component/App.js
  src/component/Article/Article.js
  src/component/Article/Article.style.js
  src/component/Card/Card.js
  src/component/Card/CardContainer.js
  src/component/Empty/EmptyData.js
  src/component/FolderArticle/FolderArticle.js
  src/component/FolderArticle/FolderArticle.style.js
  src/component/Footer/Footer.js
  src/component/Footer/SocialMedia.js
  src/component/Header/Header.js
  src/component/Header/Header.style.js
  src/component/Modal/Modal.js
  src/component/Modal/Modal.style.js
  src/component/Modal/ModalForm.js
  src/component/Modal/useModal.js
  src/component/Nav/Nav.js
  src/component/PopOver/PopOver.js
  src/component/PopOver/PopOver.style.js
  src/component/PopOver/PopOverTitle.js
  src/component/Search/Search.js
  src/component/Search/Search.style.js
  src/component/ShareOnSns/ShareOnSns.js
  src/component/ShareOnSns/ShareOnSns.style.js
  src/component/TitleButton/CardButton.js
  src/component/TitleButton/CardMenuBar.js
  src/component/TitleText/Icons.js
  src/component/TitleText/MenuTitle.js
  src/component/TitleText/MenuTitleButton.js
  src/component/index.js
  src/css/StyleGlobal.js
  src/hooks/useIntersectionObserver.js
  src/hooks/useModal.js
  src/index.js
  src/pages/FolderPage/FolderPage.js
  src/pages/SharedPage/SharedPage.js
  src/pages/index.js
  src/react-app-env.d.ts
  src/utils/shareSNS.js
  tsconfig.json
Labels: 매운맛🔥
