Repository codeit-bootcamp-frontend/1-Weekly-Mission, pull requests merged in 2023-12, with the labels that each got.

#489 [이슬] Week13
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/folder/folder.module.css
  pages/folder/index.tsx
  pages/index.tsx
  src/assets/icons/Close.tsx
  src/assets/icons/Delete.tsx
  src/assets/icons/FacebookIcon.tsx
  src/assets/icons/FolderAdd.tsx
  src/assets/icons/InstagramIcon.tsx
  src/assets/icons/Kebab.tsx
  src/assets/icons/Link.tsx
  src/assets/icons/Logo.tsx
  src/assets/icons/Pen.tsx
  src/assets/icons/SearchIcon.tsx
  src/assets/icons/Share.tsx
  src/assets/icons/Star.tsx
  src/assets/icons/TwitterIcon.tsx
  src/assets/icons/YoutubeIcon.tsx
  src/components/CardList/Card.tsx
  src/components/CardList/CardList.tsx
  src/components/CardList/CardStyles.module.css
  src/components/CardList/index.ts
  src/components/Dialog/Dialog.js
  src/components/Dialog/Dialog.ts
  src/components/Dialog/DialogMain.js
  src/components/Dialog/DialogMain.tsx
  src/components/Dialog/index.js
  src/components/Dialog/index.ts
  src/components/FolderItem/FolderItem.module.css
  src/components/FolderItem/FolderItem.tsx
  src/components/FolderItem/index.ts
  src/components/FolderOwnerInfo/FolderOwnerInfo.css
  src/components/FolderOwnerInfo/FolderOwnerInfo.tsx
  src/components/FolderOwnerInfo/index.ts
  src/components/Footer/Footer.module.css
  src/components/Footer/Footer.tsx
  src/components/Footer/SocialLink.tsx
  src/components/Footer/index.ts
  src/components/LinkInput/LinkInput.module.css
  src/components/LinkInput/LinkInput.tsx
  src/components/LinkInput/index.ts
  src/components/Navbar/Navbar.module.css
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/index.ts
  src/components/SearchBar/SearchBar.module.css
  src/components/SearchBar/SearchBar.tsx
  src/components/SearchBar/index.ts
  src/utils/api.ts
  src/utils/timeUtils.ts
  styles/globals.css
  tsconfig.json
Labels: 매운맛🔥, 미완성

#490 [양진수] week13
  .babelrc
  README.md
  component/api/api.ts
  component/card/card.tsx
  component/card/filterItems.tsx
  component/common/footer.tsx
  component/common/header.tsx
  component/common/input.tsx
  component/common/searchbar.tsx
  component/folder/folderbutton.tsx
  component/folder/modal.tsx
  next.config.js
  package-lock.json
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/api/hello.ts
  pages/folder.tsx
  pages/index.tsx
  pages/shared.tsx
  pages/signin.tsx
  pages/signup.tsx
  public/favicon.ico
  public/images/card/kebab.svg
  public/images/card/no-image.svg
  public/images/card/star.png
  public/images/folder/add.svg
  public/images/folder/linkAdd.svg
  public/images/folder/pen.svg
  public/images/folder/share.svg
  public/images/folder/trash.svg
  public/images/footer/card/kebab.svg
  public/images/footer/card/no-image.svg
  public/images/footer/card/star.png
  public/images/footer/facebook-fill.png
  public/images/footer/instagram-filled.png
  public/images/footer/twitter-fill.png
  public/images/footer/youtube-fill.png
  public/images/header/logo.png
  public/images/home/top.png
  public/images/input/signin-eye-off.png
  public/images/input/signin-eye-on.png
  public/images/modal/modal-close.png
  public/images/modal/modal-footer-icon-check.svg
  public/images/modal/modal-icon-facebook.svg
  public/images/modal/modal-icon-kakao.svg
  public/images/modal/modal-link.svg
  public/images/searchBar/close.png
  public/images/searchBar/shared-search.svg
  public/next.svg
  public/vercel.svg
  styles/Home.module.css
  styles/globals.css
  types/type.ts
  utils/dateCalculator.tsx
Labels: 매운맛🔥

#481 [민서영] Week13
  .barbelrc
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  public/favicon.ico
  public/fonts/Pretendard-Black.subset.woff2
  public/fonts/Pretendard-Bold.subset.woff2
  public/fonts/Pretendard-ExtraBold.subset.woff2
  public/fonts/Pretendard-ExtraLight.subset.woff2
  public/fonts/Pretendard-Light.subset.woff2
  public/fonts/Pretendard-Medium.subset.woff2
  public/fonts/Pretendard-Regular.subset.woff2
  public/fonts/Pretendard-SemiBold.subset.woff2
  public/fonts/Pretendard-Thin.subset.woff2
  public/next.svg
  public/svgs/icon-eye-off.svg
  public/svgs/icon-eye-on.svg
  public/svgs/index.ts
  public/vercel.svg
  src/component/sign/Input.tsx
  src/component/sign/InputStyle.ts
  src/const/error.ts
  src/hooks/useInput.tsx
  src/hooks/useToggle.tsx
  src/utils/validateAccount.ts
  styles/Home.module.css
  styles/global-styles.ts
  styles/globals.css
  types/Component.ts
  types/hooks.ts
Labels: 미완성

#497 Part3 박세은 week13
  .babelrc
  components/Button/Button.style.ts
  components/Button/Button.tsx
  components/Card/Card.Style.ts
  components/Card/Card.tsx
  components/Card/CardList.style.ts
  components/Card/CardList.tsx
  components/Footer/Footer.style.tsx
  components/Footer/Footer.tsx
  components/Header/Header.style.ts
  components/Header/Header.tsx
  components/Link/Link.style.tsx
  components/Link/Link.tsx
  components/SearchBar/SearchBar.style.tsx
  components/SearchBar/SearchBar.tsx
  components/Sorting/Sorting.style.ts
  components/Sorting/Sorting.tsx
  components/User/User.style.tsx
  components/User/User.tsx
  lib/axios.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/index.tsx
  pages/shared/index.tsx
  public/Facebook.svg
  public/Instagram.svg
  public/Search.svg
  public/Twitter.svg
  public/Youtube.svg
  public/favicon.ico
  public/index.ts
  public/link.svg
  public/logo.svg
  public/next.svg
  public/vercel.svg
  styles/Home.module.css
  styles/globals.css
  styles/theme.ts
  styles/typography.ts
  tsconfig.json
Labels: 미완성

#503 [전수빈] week14
  components/button/AddFloatingButton.tsx
  components/button/Button.tsx
  components/button/DefaultButton.tsx
  components/button/GradientButton.tsx
  components/button/buttonStyled.ts
  components/card/Card.tsx
  components/card/CardOptionMenu.tsx
  components/common/Footer.tsx
  components/common/Header.tsx
  components/common/footerStyled.ts
  components/common/headerStyled.ts
  components/input/EmailInput.tsx
  components/input/Input.tsx
  components/input/PasswordInput.tsx
  components/input/UserInput.tsx
  components/input/inputStyled.ts
  components/input/userInputStyled.ts
  components/modal/AddToFolderModal.tsx
  components/modal/DefaultModal.tsx
  components/modal/DeleteModal.tsx
  components/modal/EnterModal.tsx
  components/modal/ModalLayout.tsx
  components/modal/ModalStyledComponents.ts
  components/modal/addToFolderModal/AddToFolderModal.tsx
  components/modal/addToFolderModal/addToFolderModalStyled.ts
  components/modal/defaultModalLayout/DefaultModalLayout.tsx
  components/modal/defaultModalLayout/defaultModalLayoutStyled.ts
  components/modal/sharedFolderModal/SharedFolderModal.tsx
  components/modal/sharedFolderModal/sharedFolderModalStyled.ts
  components/user/User.tsx
  components/user/UserLayout.tsx
  components/user/UserStyled.ts
  lib/apiMapper.ts
  package-lock.json
  package.json
  pages/404.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/folder.tsx
  pages/index.tsx
  pages/shared.tsx
  pages/signin.tsx
  pages/signup.tsx
  recoil/modal.ts
  styles/folderStyled.ts
  styles/homeStyled.ts
  utils/utility.ts
Labels: 매운맛🔥

#521 [ 한슬희] Week14
  README.md
  docs/week14/README.md
  package-lock.json
  package.json
  pages/Signin/index.tsx
  pages/Signup/index.tsx
  pages/_app.tsx
  src/components/Button/SocialButton.tsx
  src/components/Button/SubmitButton.tsx
  src/components/FormProvider.tsx
  src/components/Input/EmailInput.tsx
  src/components/Input/PasswordCorrectInput.tsx
  src/components/Input/PasswordInput.tsx
  src/components/Input/index.tsx
  src/components/Label/InputLabel.tsx
  src/components/Layout/AuthLayout.tsx
  src/components/Link/AuthIntro.tsx
  src/constants/auth.ts
  src/constants/routes.ts
  src/constants/url.ts
  src/hooks/useEmailForm.ts
  src/hooks/usePasswordForm.ts
  src/libs/apis/auth/index.ts
  src/remotes/auth.d.ts
  src/types/FormValue.ts
  src/types/Layout.ts
Labels: 순한맛🐑 

#512 [윤대호] week14
  components/authInput/AuthInput.style.ts
  components/authInput/AuthInput.tsx
  components/card/Card.tsx
  components/cardList/CardList.tsx
  components/featureItem/FeatureArticle.style.ts
  components/featureItem/FeatureArticle.tsx
  components/featureList/FeatureList.tsx
  components/folderAddBar/FolderAddBar.style.ts
  components/folderAddBar/FolderAddBar.tsx
  components/folderSearchBar/FolderSearchBar.style.ts
  components/folderSearchBar/FolderSearchBar.tsx
  components/folderTabBar/FolderTabBar.tsx
  components/folderToolBar/FolderToolBar.tsx
  components/folderUserInfo/SharedFolderInfo.tsx
  components/globalNav/GlobalNav.style.ts
  components/hero/Hero.tsx
  components/inputField/InputField.tsx
  components/kebabMenu/KebabMenu.style.ts
  components/kebabMenu/KebabMenu.tsx
  components/modal/Modal.style.ts
  components/modal/Modal.tsx
  components/modalSelectButton/ModalSelectButton.style.ts
  components/modalSelectButton/ModalSelectButton.tsx
  components/shareButtons/ShareButtons.tsx
  constants/constants.ts
  hooks/useAsync.ts
  hooks/useKakaoSdk.ts
  layouts/authLayout/AuthLayout.style.ts
  layouts/authLayout/AuthLayout.tsx
  layouts/modalLayout/ModalLayout.tsx
  package-lock.json
  package.json
  pages/user/signin.tsx
  pages/user/signup.tsx
  types/type.ts
  utils/getErrorMessage.ts
Labels: 매운맛🔥

#508 [박종민] week14
  .babelrc
  .github/delete-merged-branch-config.yml
  api/api.ts
  api/checkEmail.api.ts
  api/fetch.ts
  api/signin.api.ts
  api/signup.api.ts
  api/userLinks.api.ts
  components/Button/Button.tsx
  components/Card/Card.tsx
  components/Folder/FolderNavbar.tsx
  components/Footer/Footer.tsx
  components/Input/Input.tsx
  components/Member/MemberTop.tsx
  components/Member/SocialLogin.tsx
  components/Navbar/Navbar.tsx
  constants/constant.ts
  constants/validation.ts
  containers/Folder/FolderContainer.tsx
  containers/Home/Home.tsx
  containers/Member/SigninContainer.tsx
  containers/Member/SignupContainer.tsx
  hooks/useFolder.ts
  hooks/useSearchParam.ts
  hooks/useSearchbar.ts
  hooks/useSignin.ts
  hooks/useSignup.ts
  hooks/useToggle.ts
  hooks/userLoggedIn.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/folder/[[...id]].tsx
  pages/folder/[id].tsx
  pages/shared/index.tsx
  pages/signin/index.tsx
  pages/signup/index.tsx
  public/images/logo-small.svg
  public/images/logo.svg
  types/api.d.ts
Labels: 매운맛🔥

#522 [김소은] week14
  components/AddLinkBar/AddLinkBar.styled.ts
  components/AddLinkBar/AddLinkBar.tsx
  components/Button/Button.styled.ts
  components/CardList/Card/Card.styled.ts
  components/CardList/Card/Card.tsx
  components/CardList/Card/index.ts
  components/CardList/CardList.styled.ts
  components/CardList/CardList.tsx
  components/Footer/Footer.styled.ts
  components/Footer/Footer.tsx
  components/InputForm/InputForm.styled.ts
  components/InputForm/InputForm.tsx
  components/InputForm/index.ts
  components/NavBar/NavBar.tsx
  lib/axios.ts
  next.config.js
  package-lock.json
  package.json
  pages/folder.tsx
  pages/shared.tsx
  pages/signin.tsx
  pages/signup.tsx
  public/images/googleIcon.svg
  public/images/kakaotalkIcon.svg
  src/types/index.d.ts
  styles/Folder.styled.ts
  styles/Shared.styled.ts
  styles/SignIn.styled.ts
  styles/SignUp.styled.ts
  styles/palettes.ts
  styles/reset.ts
Labels: 미완성

#532 [김기연] week14
  next.config.js
  package-lock.json
  package.json
  public/icon/CloseTabBtnBackground.svg
  public/icon/Group 36.svg
  public/icon/Search.svg
  public/icon/addFolderIcon.svg
  public/icon/check-icon.svg
  public/icon/facebook.svg
  public/icon/icon-add.svg
  public/icon/icon-background-google.svg
  public/icon/icon-background-kakao.svg
  public/icon/icon-background-myprofile.svg
  public/icon/icon-download.svg
  public/icon/icon-facebook.svg
  public/icon/icon-instagram.svg
  public/icon/icon-kakao.svg
  public/icon/icon-myprofile.svg
  public/icon/icon-star.svg
  public/icon/icon-twitter.svg
  public/icon/icon-white-smile.svg
  public/icon/icon-youtube.svg
  public/icon/kakao.svg
  public/icon/kebab.svg
  public/icon/link.svg
  public/icon/logo.svg
  public/icon/pen.svg
  public/icon/share.svg
  public/image/google.png
  public/image/googleButton.png
  public/image/kakaoButton.png
  src/components/Buttons/BlueGradationBtn.tsx
  src/components/Buttons/FloatingAddFolderBtn.tsx
  src/components/Buttons/TagBtn/TagBtnContainer.module.css
  src/components/Buttons/TagBtn/TagBtnContainer.tsx
  src/components/CardContainer/Card.tsx
  src/components/CardContainer/CardContainer.module.css
  src/components/CardContainer/CardContainer.tsx
  src/components/Footer/Footer.module.css
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/HeroContent/FolderHero/FolderHero.module.css
  src/components/HeroContent/FolderHero/FolderHero.tsx
  src/components/HeroContent/SharedHero/SharedHero.tsx
  src/components/Inputs/Input.tsx
  src/components/Inputs/SearchLinkInput/searchLinkInput.tsx
  src/components/MainContent.tsx
  src/lib/api.js
  src/lib/axios.js
  src/modals/contents/AddLinkToFolder.tsx
  src/modals/contents/ShareFolder.tsx
  src/pages/_app.tsx
  src/pages/folder.tsx
  src/pages/login.tsx
  src/pages/shared.tsx
  src/pages/signup.tsx
  src/styles/fontStyle.js
Labels: 매운맛🔥

#520 [박경서] week14
  components/Button.tsx
  components/Card.tsx
  components/Footer.tsx
  components/Input.tsx
  components/Nav.tsx
  components/Profile.tsx
  components/SharedHeader.tsx
  components/folder/FolderCard.tsx
  components/folder/FolderHeader.tsx
  components/folder/FolderMain.tsx
  components/modal/FolderDeleteModal.tsx
  components/modal/FolderPlusModal.tsx
  components/modal/FolderShareModal.tsx
  components/modal/ToFolderPlusModal.tsx
  components/sign/SignFooter.tsx
  components/sign/SignHeader.tsx
  components/sign/SignMain.tsx
  components/sign/SigninMain.tsx
  components/sign/SignupMain.tsx
  constant/constants.ts
  next.config.js
  package-lock.json
  package.json
  pages/Signup.1.tsx
  pages/_app.tsx
  pages/api/axios.js
  pages/folder.tsx
  pages/index.tsx
  pages/shared.tsx
  pages/signin.tsx
  pages/signup.tsx
  public/eye-off.svg
  public/eye-on.svg
  public/google.svg
  style/styled-component/Card/CardStyledComponent.ts
  style/styled-component/Folder/FolderHeaderStyledComponent.ts
  style/styled-component/Folder/FolderMainStyledComponent.ts
  style/styled-component/Footer/FooterStyledComponent.ts
  style/styled-component/GlobalStyledComponent.ts
  style/styled-component/Modal/ModalStyledComponent.ts
  style/styled-component/Nav/NavStyledComponent.ts
  style/styled-component/Shared/SharedPageStyledComponent.ts
  utils/dateCalculator.ts
  utils/validationCheck.ts
Labels: 매운맛🔥, 미완성

#526 [남민섭] Week14
  components/AddInputSection.tsx
  components/BookMark.tsx
  components/Cards.tsx
  components/Footer.tsx
  components/Header.tsx
  components/Input.tsx
  components/ObserveAddInput.tsx
  components/Search.tsx
  components/UserFolder.tsx
  components/header.module.css
  components/input.module.css
  config/apiUrl.ts
  hooks/useFetch.ts
  modal/ModalFolder.tsx
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/hello.ts
  pages/folder/folder.module.css
  pages/folder/folder.tsx
  pages/folder/index.tsx
  pages/shared/index.tsx
  pages/shared/shared.module.css
  pages/shared/shared.tsx
  pages/signIn.module.css
  pages/signIn.tsx
  pages/signin/index.tsx
  pages/signin/signin.module.css
  pages/signin/signin.tsx
  pages/signup/index.tsx
  pages/signup/signup.module.css
  pages/signup/signup.tsx
  request.http
  styles/message.css
  utils/constant.ts
  utils/errorMessage.ts
  utils/location.ts
Labels: 매운맛🔥

#504 [김윤후] Week14
  api/singleFolderApi.ts
  components/AddLink.tsx
  components/Article.tsx
  components/Card.tsx
  components/Footer.module.css
  components/Footer.tsx
  components/Search.module.css
  components/Search.tsx
  components/SignFooter.module.css
  components/SignFooter.tsx
  components/SignHeader.module.css
  components/SignHeader.tsx
  consts/RegExp.ts
  folderPageComponents/Card.tsx
  folderPageComponents/Cards.tsx
  libs/axios.ts
  libs/getSingleFolder.ts
  libs/getStatus.ts
  package-lock.json
  package.json
  pageComponents/folderPageComponents/Card.module.css
  pageComponents/folderPageComponents/Card.tsx
  pageComponents/folderPageComponents/Cards.tsx
  pageComponents/folderPageComponents/FolderList.tsx
  pageComponents/folderPageComponents/FolderListItem.tsx
  pageComponents/folderPageComponents/Header.module.css
  pageComponents/folderPageComponents/Header.tsx
  pageComponents/folderPageComponents/Nav.module.css
  pageComponents/folderPageComponents/Nav.tsx
  pageComponents/sharedPageComponents/Card.module.css
  pageComponents/sharedPageComponents/Card.tsx
  pageComponents/sharedPageComponents/Cards.tsx
  pageComponents/sharedPageComponents/Header.module.css
  pageComponents/sharedPageComponents/Header.tsx
  pageComponents/sharedPageComponents/Nav.module.css
  pageComponents/sharedPageComponents/Nav.tsx
  pageComponents/signInComponents/SignInForm.module.css
  pageComponents/signInComponents/SignInForm.tsx
  pageComponents/signUpComponents/SignUpForm.module.css
  pageComponents/signUpComponents/SignUpForm.tsx
  pages/404.module.css
  pages/404.tsx
  pages/_app.tsx
  pages/folder/index.module.css
  pages/folder/index.tsx
  pages/index.module.css
  pages/index.tsx
  pages/shared/index.tsx
  pages/signIn/index.module.css
  pages/signIn/index.tsx
  pages/signUp/index.module.css
  pages/signUp/index.tsx
  remotes/folders.d.ts
  remotes/props.d.ts
  remotes/sampleFolder.d.ts
  remotes/users.d.ts
  styles/global.css
Labels: 매운맛🔥

#523 [김나은] week14
  components/common/card/Card.tsx
  components/common/card/CardContent.tsx
  components/common/card/CardDate.tsx
  components/common/card/CardImage.tsx
  components/common/card/CardList.tsx
  components/common/card/CardTime.tsx
  components/common/card/Kebab.tsx
  components/common/header/Header.tsx
  components/common/header/HeaderAddLink.tsx
  components/common/header/HeaderHome.tsx
  components/common/nav/Nav.tsx
  components/common/nav/NavLogin.tsx
  components/common/nav/NavProfile.tsx
  components/folder/FolderContainer.tsx
  components/shared/SharedContainer.tsx
  components/sign/SignHeader.tsx
  components/sign/Social.tsx
  components/sign/signInput/SignForm.tsx
  components/sign/signInput/SignInput.tsx
  components/signInput/SignForm.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/folder.tsx
  pages/index.tsx
  pages/shared.tsx
  pages/signin.tsx
  pages/signup.tsx
  public/heart_icon.png
  src/image/eye-off.svg
  src/image/eye-on.svg
  src/image/google.svg
  src/image/hero.png
  src/image/image1.png
  src/image/image2.png
  src/image/image3.png
  src/image/image4.png
  utils/types.ts
Labels: 미완성

#529 [손지은] week14
  package-lock.json
  package.json
  pages/404.tsx/index.tsx
  pages/folder/folder.module.css
  pages/folder/index.tsx
  pages/index.tsx
  pages/shared/index.jsx
  pages/shared/shared.module.css
  pages/signin.tsx
  pages/signin/index.tsx
  pages/signin/sign.module.css
  pages/signup.tsx
  pages/signup/index.tsx
  src/api/postSignIn.ts
  src/api/postSignUp.ts
  src/assets/img/404.gif
  src/components/Sign/SignInput.module.css
  src/components/Sign/SignInput.tsx
  src/config.ts
Labels: 매운맛🔥

#511 [조연아] week14
  components/button/HeaderButton.tsx
  components/footer/Footer.tsx
  components/input/Input.module.css
  components/input/Input.tsx
  components/input/LoginInput.module.css
  components/input/LoginInput.tsx
  components/input/PassWordInput.module.css
  components/input/PassWordInput.tsx
  components/modal/Modal.tsx
  components/types/hookFormTypes.ts
  package-lock.json
  package.json
  pages/login/Login.module.css
  pages/login/index.tsx
  pages/signin/SignIn.module.css
  pages/signin/index.tsx
  pages/signup/SignUp.module.css
  pages/signup/index.tsx
  public/images/Kakao.png
  public/images/google.png
  public/images/logo.png
  tsconfig.json
Labels: 매운맛🔥

#514 [안희원] Week14
  README.md
  components/common/Button.tsx
  components/common/Card/Card.tsx
  components/common/Card/CardList.tsx
  components/common/Footer.tsx
  components/common/Header.tsx
  components/common/Input/Input.tsx
  components/common/Input/InputBox.tsx
  components/common/Logo.tsx
  components/common/Modal/Modal.tsx
  components/common/Profile.tsx
  components/common/Search/SearchResult.tsx
  components/folder/AddFolderBtn.tsx
  components/folder/AddLinkBar.tsx
  components/folder/ChoiceBar.tsx
  components/folder/FolderContent.tsx
  components/folder/FolderNav.tsx
  components/folder/FolderTitle.tsx
  components/folder/LinkBar.tsx
  components/home/Contents.tsx
  components/home/Main.tsx
  components/shared/FolderInfo.tsx
  components/shared/SharedContent.tsx
  components/sign/Header.tsx
  components/sign/SocialBox.tsx
  hooks/useGetFolders.ts
  hooks/useGetLinks.ts
  hooks/useGetSampleFolder.ts
  hooks/useGetSampleLinks.ts
  hooks/useGetSampleUser.ts
  hooks/useGetUser.ts
  lib/api.ts
  lib/constants/default.ts
  lib/constants/path.ts
  lib/constants/validations.ts
  lib/styles/DeviceSize.ts
  lib/styles/GlobalStyle.ts
  lib/types/dataType.ts
  lib/types/sampleDataType.ts
  lib/utils/checkToken.ts
  lib/utils/filterLink.ts
  lib/utils/findFolderTitle.ts
  lib/utils/onValid.ts
  lib/utils/shareLink.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  pages/signin.tsx
  pages/signup.tsx
  public/assets/images/social_google.svg
  public/assets/images/social_kakao.svg
Labels: 매운맛🔥

#531 [민서영] week14
  .barbelrc
  .eslintrc.json
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
  pages/api/hello.ts
  pages/folder/index.ts
  pages/index.tsx
  pages/signin/index.tsx
  pages/signup/index.tsx
  public/images/google.png
  public/images/icon-eye-off.svg
  public/images/icon-eye-on.svg
  public/images/index.ts
  public/images/kakaotalk.svg
  public/images/logo.svg
  public/svgs/index.ts
  src/component/common/ui-cta/Cta.module.css
  src/component/common/ui-cta/Cta.tsx
  src/component/layout/AuthFormLayout.module.css
  src/component/layout/AuthFormLayout.tsx
  src/component/sign-in/feature-signin-form/SignInForm.module.css
  src/component/sign-in/feature-signin-form/SignInForm.tsx
  src/component/sign-in/ui-input-password/InputPassword.module.css
  src/component/sign-in/ui-input-password/InputPassword.tsx
  src/component/sign-in/ui-input/Input.module.css
  src/component/sign-in/ui-input/Input.tsx
  src/component/sign-in/ui-social-auth/SocialAuth.module.css
  src/component/sign-in/ui-social-auth/SocialAuth.tsx
  src/component/sign/Input.tsx
  src/component/sign/InputStyle.ts
  src/hooks/useToggle.tsx
  src/utils/axios.ts
  styles/breakpoints.ts
  styles/global-styles.ts
  styles/global.css
  styles/reset.css
  tsconfig.json
  types/Component.ts
  types/hooks.ts
  types/type.ts
Labels: 미완성

#509 [김진우] Week14
  api/services/config.ts
  components/button/Button.tsx
  components/button/button.module.css
  components/input/Input.tsx
  components/input/input.module.css
  components/passwordInput/PasswordInput.module.css
  components/passwordInput/PasswordInput.tsx
  components/signinForm/SignInForm.module.css
  components/signinForm/SigninForm.tsx
  components/signupForm/SignupForm.module.css
  components/signupForm/SignupForm.tsx
  components/socialAuth/SocialAuth.tsx
  components/socialAuth/socialAuth.module.css
  constants/authConstant.ts
  global.d.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/signin/index.tsx
  pages/signin/signin.module.css
  pages/signup/index.tsx
  pages/signup/signup.module.css
  utils/localStorage.ts
Labels: 매운맛🔥

#519 [양진수] week14
  component/api/api.ts
  component/card/card.tsx
  component/common/header.tsx
  component/common/input.tsx
  component/common/searchbar.tsx
  component/folder/modal.tsx
  component/layout.tsx
  component/sign/styledSign.tsx
  pages/_app.tsx
  pages/folder.tsx
  pages/index.tsx
  pages/shared.tsx
  pages/signin.tsx
  pages/signup.tsx
  public/images/sign/google.svg
  public/images/sign/kakao.svg
  public/images/sign/signin-logo.svg
  types/type.ts
Labels: 매운맛🔥

#543 [박종민] week15
  api/sampleFolder.api.ts
  api/sampleUser.api.ts
  api/signin.api.ts
  apis/api.ts
  apis/axios.ts
  apis/checkEmail.api.ts
  apis/fetch.ts
  apis/folder.api.ts
  apis/getUser.api.ts
  apis/postSignin.api.ts
  apis/signup.api.ts
  apis/test.ts
  apis/userFolders.api.ts
  apis/userLinks.api.ts
  apis/userProfile.api.ts
  components/Input/Input.tsx
  components/Navbar/Navbar.tsx
  constants/localStorage.ts
  constants/router.ts
  constants/validation.ts
  containers/Folder/FolderContainer.tsx
  containers/Member/SigninContainer.tsx
  containers/Member/SignupContainer.tsx
  containers/Share/ShareContainer.tsx
  hooks/useFolder.ts
  hooks/useGetUserInfo.ts
  hooks/useSearchParam.ts
  hooks/useSearchbar.ts
  hooks/useSignin.ts
  hooks/useSignup.ts
  hooks/userLoggedIn.ts
  package-lock.json
  package.json
  pages/500/index.tsx
  pages/folder/[[...id]].tsx
  pages/index.tsx
  pages/shared/[[...id]].tsx
  pages/shared/index.tsx
  types/api.ts
  utils/localStorage.ts
Labels: 순한맛🐑 , 미완성

#517 [안성재] Week14
  .gitignore
  package-lock.json
  package.json
  public/assets/images/screenshot/hero.png
  public/assets/images/screenshot/image1.png
  public/assets/images/screenshot/image2.png
  public/assets/images/screenshot/image3.png
  public/assets/images/screenshot/image4.png
  src/api/apiRequest.ts
  src/components/AddLinkForm/AddLinkForm.tsx
  src/components/CardList/Card/Card.tsx
  src/components/CardList/CardList.tsx
  src/components/CurrentFolderInfo/CurrentFolderInfo.tsx
  src/components/FolderInfo/FolderInfo.tsx
  src/components/FolderList/FolderList.tsx
  src/components/Footer/Footer.tsx
  src/components/Input/Input.style.ts
  src/components/Input/Input.tsx
  src/components/Layout/Layout.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalAddFolder.tsx
  src/components/Modal/ModalAddLink.tsx
  src/components/Modal/ModalDelete.tsx
  src/components/Modal/ModalDeleteLink.tsx
  src/components/Modal/ModalEdit.tsx
  src/components/Modal/ModalShare.tsx
  src/components/Nav/Nav.tsx
  src/components/Profile/Profile.tsx
  src/components/SampleCardList/SampleCard/SampleCard.tsx
  src/components/SampleCardList/SampleCardList.tsx
  src/components/SearchBar/SearchBar.tsx
  src/components/SignPageLayout/SignPageLayout.style.ts
  src/components/SignPageLayout/SignPageLayout.tsx
  src/components/SignPageLayout/index.js
  src/components/SigninForm/SigninForm.style.ts
  src/components/SigninForm/SigninForm.tsx
  src/components/SigninForm/index.js
  src/components/SignupForm/SignupForm.style.ts
  src/components/SignupForm/SignupForm.tsx
  src/components/SignupForm/index.js
  src/components/SocialBox/SocialBox.style.ts
  src/components/SocialBox/SocialBox.tsx
  src/components/SocialBox/index.js
  src/hooks/useRequest.ts
  src/pages/_app.tsx
  src/pages/folder.tsx
  src/pages/index.style.ts
  src/pages/index.tsx
  src/pages/shared.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
  src/styles/mediaQuery.ts
  src/utils/regex.ts
Labels: 매운맛🔥

#542 [윤대호] week15
  components/folderAddBar/FolderAddBar.tsx
  components/folderTabBar/FolderTabBar.tsx
  components/globalNav/GlobalNav.tsx
  components/kebabMenu/KebabMenu.tsx
  constants/constants.ts
  hooks/useGetFolders.ts
  hooks/useGetLinks.ts
  hooks/useGetSampleFolder.ts
  hooks/useGetSharedFolder.ts
  hooks/useGetUser.ts
  layouts/authLayout/AuthLayout.tsx
  layouts/globalLayout/GlobalLayout.tsx
  next.config.js
  pages/_app.tsx
  pages/folder/[[...folderId]].tsx
  pages/shared.tsx
  pages/shared/[folderId].tsx
  pages/user/signin.tsx
  pages/user/signup.tsx
  tsconfig.json
  types/type.ts
  utils/AuthProvider.tsx
  utils/UserContext.tsx
  utils/axiosInstance.ts
  utils/fetchSharedFolder.ts
  utils/mapFolderData.ts
Labels: 순한맛🐑 

#545 [전수빈] week15
  components/button/Button.tsx
  components/button/GradientButton.tsx
  components/card/Card.tsx
  components/card/CardOptionMenu.tsx
  components/common/Header.tsx
  components/folder/FolderLayout.tsx
  components/input/EmailInput.tsx
  components/input/PasswordInput.tsx
  components/input/userInputStyled.ts
  components/modal/addToFolderModal/AddToFolderModal.tsx
  lib/api/auth.ts/auth.ts
  lib/api/folder/index.ts
  lib/apiMapper.ts
  lib/axios.ts
  next.config.js
  pages/folder/[id].tsx
  pages/folder/index.tsx
  pages/shared/[id]/index.tsx
  pages/signin.tsx
  pages/signup.tsx
  styles/sharedStyled.ts
Labels: 순한맛🐑 

#548 [송규경] week15
  components/AddBar/AddBar.styled.ts
  components/Card/Card.tsx
  components/FolderInfo/FolderInfo.style.ts
  components/FolderInfo/FolderInfo.tsx
  components/FolderLists/FolderLists.tsx
  components/Landing/Header/Header.styled.ts
  components/Landing/Header/Header.tsx
  components/Navigator/LoginBtn.styled.ts
  components/Navigator/LoginButton.tsx
  components/Navigator/LogoutDropDownList.tsx
  components/Sign/SignForm.tsx
  components/Sign/SignInput.tsx
  lib/hooks/useGetUser.ts
  lib/utils/AuthContext.tsx
  lib/utils/LoginContext.tsx
  lib/utils/api.ts
  lib/utils/axiosInstance.ts
  lib/utils/localStorage.ts
  next.config.js
  pages/_app.tsx
  pages/folder/[id]/index.tsx
  pages/folder/[id]/search.tsx
  pages/folder/index.tsx
  pages/folder/search/index.tsx
  pages/share.tsx
  pages/share/[id].tsx
  pages/share/index.tsx
  pages/signin.tsx
  pages/signup.tsx
  style/SharePage.styled.ts
Labels: 매운맛🔥

#549 [이정윤] week15
  api/axios.ts
  api/endpoints.ts
  api/getFolder.ts
  api/getSampleUser.ts
  api/getSignIn.ts
  api/getSignUp.ts
  api/getUsableEmail.tsx
  api/getUser.ts
  api/getUserFolder.ts
  api/getUserFolders.ts
  api/getUserLinks.ts
  components/AddLink/AddLink.tsx
  components/Card/Card.module.css
  components/Card/CardList.tsx
  components/Card/FolderPageCardItem.tsx
  components/Card/SharedPageCardItem.tsx
  components/CardMenu/CardMenu.tsx
  components/Category/CategoryButton.tsx
  components/Category/CategoryList.tsx
  components/FolderUtils/FolderEditButton.tsx
  components/Footer/Footer.tsx
  components/Input/Input.tsx
  components/Modal/AddLinkModalContent/AddLinkModalContent.tsx
  components/Modal/ShareFolderModalContent/ShareFolderModalContent.tsx
  components/NavBar/LoginButton.tsx
  components/NavBar/NavBar.tsx
  components/NavBar/ProfileInfo.tsx
  components/NotFoundLink/NotFoundLink.module.css
  components/Search/SearchBar.tsx
  components/SignPage/AuthForm.module.css
  components/SignPage/AuthForm.tsx
  components/SignPage/SignPageHeader.module.css
  components/SignPage/SignPageHeader.tsx
  components/SignPage/SignPageSocial.module.css
  components/SignPage/SignPageSocial.tsx
  constants/constants.ts
  contexts/AuthContext.tsx
  contexts/UserContext.tsx
  hooks/useValidate.ts
  lib/axios.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/folder/[folderId].tsx
  pages/folder/index.tsx
  pages/shared/[folderId].tsx
  pages/signin.tsx
  pages/signin/index.tsx
  pages/signup.tsx
  pages/signup/index.tsx
  utils/createFieldErrorHandler.ts
  utils/isUsableEmail.ts
  utils/redirectIfAccessToken.ts
  utils/removeTokens.ts
  utils/saveTokens.ts
Labels: 매운맛🔥

#544 [임건우] Week15
  .prettierrc.json
  README.md
  next.config.js
  package-lock.json
  package.json
  src/components/Input.tsx
  src/components/Navigator.tsx
  src/components/toasts/CopyToClipboard.tsx
  src/containers/Auth/Signin.tsx
  src/containers/Auth/Signup.tsx
  src/containers/Auth/components/InputContainer.tsx
  src/containers/Auth/validation.ts
  src/containers/Folder/components/FoldersContainer.tsx
  src/containers/Folder/index.tsx
  src/containers/Shared/components/Banner.tsx
  src/containers/Shared/components/Folder.tsx
  src/containers/Shared/index.tsx
  src/hooks/useRequest.ts
  src/pages/folder.tsx
  src/pages/folder/[folderId].tsx
  src/pages/folder/index.tsx
  src/pages/shared.tsx
  src/pages/shared/[folderId].tsx
  src/pages/test.tsx
  src/services/apis.ts
  src/services/utils/api.ts
  src/types/Folder.types.ts
Labels: 매운맛🔥

#546 [홍재원] week15
  src/api/axiosInstance.tsx
  src/api/getAllCards.tsx
  src/api/getFolderList.tsx
  src/api/getNewToken.tsx
  src/api/getSignUp.tsx
  src/api/getSignin.tsx
  src/api/index.tsx
  src/components/common/Nav/Nav.tsx
  src/components/sign/SignLayout/SignLayout.tsx
  src/contexts/AuthProvider.tsx
  src/hooks/useInputValid.tsx
  src/hooks/useRequest.tsx
  src/pages/_app.tsx
  src/pages/folder/index.tsx
  src/pages/signin/index.tsx
  src/pages/signup/index.tsx
  src/utils/calcDate.tsx
Labels: bug, 매운맛🔥, 미완성

#541 [김진우] Week15
  api/services/config.ts
  components/addLinkInput/AddLinkInput.tsx
  components/button/Button.tsx
  components/header/Header.tsx
  components/input/Input.tsx
  components/layout/nav/Nav.tsx
  components/passwordInput/PasswordInput.tsx
  components/signinForm/SigninForm.tsx
  components/signupForm/SignupForm.tsx
  constants/authConstant.ts
  context/AuthProvider.tsx
  hooks/useStore.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/folder/[folderId]/folderPage.module.css
  pages/folder/[folderId]/index.tsx
  pages/share/index.tsx
  pages/shared/[folderId]/index.tsx
  pages/shared/[folderId]/sharedpage.module.css
  types/types.d.ts
  utils/localStorage.ts
Labels: 순한맛🐑 , 미완성
