Repository codeit-bootcamp-frontend/1-Weekly-Mission, pull requests merged in 2024-01, with the labels that each got.

#550 [박소현] week15
  pages/folder/FolderContainer.tsx
  pages/shared/[id]/ShareContainer.tsx
  pages/shared/[id]/ShareContainerStyles.ts
  pages/shared/[id]/index.ts
  src/components/Kebabmenu.tsx
  src/components/hero/Hero.tsx
  src/components/hero/HeroStyles.ts
  src/hooks/useFolder.ts
  src/types/folder.ts
Labels: 미완성

#555 [윤대호] week19
  components/card/Card.tsx
  components/cardList/CardList.tsx
  components/folderAddBar/FolderAddBar.tsx
  components/folderTabBar/FolderTabBar.tsx
  components/folderToolBar/FolderToolBar.tsx
  components/globalNav/GlobalNav.tsx
  components/hocs/WithAuth.tsx
  components/inputField/InputField.tsx
  components/kebabMenu/KebabMenu.tsx
  components/modal/Modal.tsx
  components/modalSelectButton/ModalSelectButton.tsx
  hooks/useAsync.ts
  hooks/useGetFolders.ts
  hooks/useGetLinks.ts
  hooks/useGetSharedFolder.ts
  layouts/authLayout/AuthLayout.tsx
  layouts/globalLayout/GlobalLayout.tsx
  next-auth.d.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/folder/[[...folderId]].tsx
  pages/shared/[folderId].tsx
  pages/user/signin.tsx
  pages/user/signup.tsx
  types/type.ts
  utils/AuthProvider.tsx
  utils/api.ts
  utils/axiosInstance.ts
  utils/fetchSharedFolder.ts
  utils/getElapsedTime.ts
Labels: 순한맛🐑 

#553 [이정윤] week19
  assets/styles/landing.module.css
  components/AddFolderButton/AddFolderButton.tsx
  components/AddLink/AddLinkButton.module.css
  components/AddLink/AddLinkButton.tsx
  components/AddLink/AddLinkInput.module.css
  components/AddLink/AddLinkInput.tsx
  components/Button/Button.module.css
  components/Card/CardList.tsx
  components/Card/FolderPageCardItem.tsx
  components/CardMenu/CardMenu.tsx
  components/Category/CategoryButton.tsx
  components/Category/CategoryList.tsx
  components/FolderUtils/FolderEdit.tsx
  components/FolderUtils/FolderEditButton.tsx
  components/Modal/AddFolderModalContent/AddFolderModalContent.tsx
  components/Modal/AddLinkModalContent/AddLinkModalContent.module.css
  components/Modal/AddLinkModalContent/AddLinkModalContent.tsx
  components/Modal/DeleteFolderModalContent/DeleteFolderModalContent.tsx
  components/Modal/DeleteLinkModalContent/DeleteLinkModalContent.tsx
  components/Modal/EditFolderNameModalContent/EditFolderNameModalContent.tsx
  components/Modal/ModalButton/ModalButton.tsx
  components/NavBar/LoginButton.module.css
  components/Search/Search.tsx
  components/SignPage/AuthForm.tsx
  constants/constants.ts
  contexts/AuthContext.tsx
  lib/axios.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/folder/[folderId].tsx
  pages/landing.tsx
  pages/shared/[folderId].tsx
  pages/signin/index.tsx
  pages/signup/index.tsx
  types/folder.d.ts
  types/link.d.ts
  types/user.d.ts
  utils/isUsableEmail.ts
  utils/isValidURL.ts
Labels: 매운맛🔥

#551 [김하늘] Week19
  components/Header/HeaderInput.tsx
  components/Header/HeaderSearch.styled.tsx
  components/Header/HeaderSearch.tsx
  components/Header/index/HomeHeader.styled.tsx
  components/Header/index/HomeHeader.tsx
  components/Main/CardList/Card.tsx
  components/Main/CardList/CardList.styled.tsx
  components/Main/CardList/CardList.tsx
  components/Main/CardList/CardList.type.ts
  components/Main/CardList/Kebab.tsx
  components/Main/FolderSelect/FolderController.tsx
  components/Main/FolderSelect/FolderSelect.tsx
  components/Main/FolderSelect/FolderSelect.type.ts
  components/Main/FolderSelect/FolderTabs.tsx
  components/Main/LinkSection.tsx
  components/Main/sign/SignForm.tsx
  components/Main/sign/SignLogo.tsx
  components/Main/sign/SignSns.tsx
  components/Modal/Modal.styled.tsx
  components/Modal/Modal.tsx
  components/Nav/Avatar/Avatar.tsx
  components/Nav/Avatar/Profile.tsx
  components/Nav/Navigation.styled.tsx
  components/Nav/Navigation.tsx
  hooks/useModal.tsx
  hooks/useSignInput.ts
  lib/axios.ts
  next.config.js
  package-lock.json
  package.json
  pages/_app.tsx
  pages/folder.tsx
  public/star.svg
  public/star_default.svg
  public/star_favorite.svg
  utils/filterAndData.ts
  utils/getCookie.ts
  utils/getData.type.ts
  utils/validate.ts
Labels: 매운맛🔥

#562 [박소현] week20
  package-lock.json
  package.json
  pages/folder/FolderContainer.tsx
  pages/folder/FolderPresenter.tsx
  pages/folder/FolderTypes.ts
  pages/folder/[id]/index.tsx
  pages/shared/[id]/ShareContainer.tsx
  public/assets/filled_star.svg
  src/api/auth/signin.ts
  src/api/auth/signup.ts
  src/api/user/checkEmail.ts
  src/common/constants.ts
  src/components/button/ToggleButton.tsx
  src/components/card/CardItem.tsx
  src/components/layout/header/Header.tsx
  src/components/modal/AddFolders.tsx
  src/components/modal/ShareFolder.tsx
  src/components/ui/icons/FilledStarIcon.tsx
  src/components/ui/icons/Star.tsx
  src/context/FolderContext.tsx
  src/context/SelectedFolderContext.tsx
Labels: 매운맛🔥, 미완성

#563 [홍재원] week20
  package-lock.json
  package.json
  src/api/axiosInstance.ts
  src/api/getCardCRUDApi.ts
  src/api/getUser.ts
  src/components/CardList/Card/Card.tsx
  src/components/CardList/CardList.tsx
  src/components/CardList/Favorite/Favorite.tsx
  src/components/CardList/Kebab/Kebab.tsx
  src/components/CardList/SharedCardList.tsx
  src/components/CardList/Wrapper/CardListWrapper.tsx
  src/components/CardList/Wrapper/SharedCardListWrapper.tsx
  src/components/Layout/Layout.tsx
  src/components/LinkAddBar/LinkAddBar.tsx
  src/components/Nav/Dropdown/Dropdown.module.scss
  src/components/Nav/Dropdown/Dropdown.tsx
  src/components/Nav/Nav.module.scss
  src/components/Nav/Nav.tsx
  src/components/SearchBar/SearchBar.tsx
  src/components/SharedHeader/SharedHeader.tsx
  src/components/folder/FolderMaker/FolderMaker.tsx
  src/components/folder/FolderModifier copy/FolderModifier.tsx
  src/components/folder/FolderTagList/FolderTagList.tsx
  src/components/sign/SnsSign/SnsSign.tsx
  src/hooks/useDropdown.tsx
  src/hooks/useToast.tsx
  src/middleware.ts
  src/modals/FolderAddModal/FolderAddModal.tsx
  src/modals/FolderDeleteModal/FolderDeleteModal.tsx
  src/modals/FolderEditModal/FolderEditModal.tsx
  src/modals/FolderShareModal/FolderShareModal.tsx
  src/modals/LinkAddModal/LinkAddModal.tsx
  src/modals/LinkDeleteModal/LinkDeleteModal.tsx
  src/modals/ModalBackground.module.scss
  src/modals/ModalBackground.tsx
  src/modals/ModalCreator.tsx
  src/pages/404/index.tsx
  src/pages/_app.tsx
  src/pages/folders/[folderId].tsx
  src/pages/folders/index.tsx
  src/pages/index.tsx
  src/pages/shared/index.tsx
  src/pages/signin/SignInPage.module.scss
  src/pages/signin/index.tsx
  src/pages/signup/index.tsx
  src/store/FolderLilstStore.tsx
  src/store/FolderList.tsx
  src/store/ModalStore.tsx
  src/store/UserInfo.tsx
  src/styles/zIndex.scss
  src/types/CardType.ts
  src/utils/calcDate.ts
  src/utils/checkReg.ts
  src/utils/formatDate.ts
Labels: 매운맛🔥, 미완성
